{% extends 'base.html' %}
{% block title %}Ooops!{% endblock %}
{% block content %}
  <div class="bold center" style="min-height: 400px;">
    {# <h1>500 Internal Server Error</h1> #}
    <h4>Oops! There was a problem with the site that prevented us from serving you this page. The site admins have been notified of this problem.</h4>
    <h4>This usually means a site update is in progress.  Please reload this page in a few moments.</h4>
    <p>If the site remains unavailable after several minutes, please feel free to use the below chat room to reach out to the site admins.  Please note you may not get an immediate response.</p>
    <iframe src="https://web.libera.chat/?channels=#momw" width="647" height="400"></iframe>
  </div>
{% endblock %}
