<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | Modding OpenMW: A guide to modding and modernizing Morrowind with OpenMW</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    {% endblock %}
    <link rel="manifest" href="/manifest.webmanifest">
    {% if DEBUG %}
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css">
      <link rel="stylesheet" href="{% static 'css/skeleton.css' %}" type="text/css">
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
      <link rel="stylesheet" href="{% static 'css/site.css' %}" type="text/css">
      <link id="prefer-darkmode" media="(prefers-color-scheme: dark)" href="{% static 'css/site-dark.css' %}" type="text/css" rel="stylesheet"/>
      <link rel="icon" href="{% static 'favicon.png' %}">
    {% else  %}
      <link rel="stylesheet" href="/css/normalize.css" type="text/css">
      <link rel="stylesheet" href="/css/skeleton.css" type="text/css">
      <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
      <link rel="stylesheet" href="/css/site.css" type="text/css">
      <link id="prefer-darkmode" media="(prefers-color-scheme: dark)" href="/css/site-dark.css" type="text/css" rel="stylesheet"/>
      <link rel="icon" href="/favicon.png">
    {% endif %}
  </head>
  <body>
    {% if momw_ver %}<div class="bold center" id="banner"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> You are looking at the {{ momw_ver|upper }} version of this site (rev: {{ momw_rev }}).  More info <a href="{% url 'site-versions' %}">here</a>. <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>{% endif %}

    {% block header %}{% include 'header.html' %}{% endblock %}

    <div class="line"></div>

    <div id="content">{% block content %}{% endblock %}</div>

    <div class="line"></div>

    {% include 'footer.html' %}

    {% block lower_js %}{% endblock %}

    {% if DEBUG %}
      <script src="{% static 'js/yesdev.js' %}"></script>
      <script src="{% static 'js/set-basedir.js' %}"></script>
      <script src="{% static 'js/set-mwdir.js' %}"></script>
      <script src="{% static 'js/theme-picker.js' %}"></script>
    {% else %}
      <script src="/js/yesdev.js"></script>
      <script src="/js/set-basedir.js"></script>
      <script src="/js/set-mwdir.js"></script>
      <script src="/js/theme-picker.js"></script>
    {% endif %}

    {% if not no_focus %}
      <script>
       // Don't break anchor/hash links
       if (window.location.hash === "")
         document.search.q.focus();
      </script>
    {% endif %}

    {% include 'tracking.html' %}
  </body>
</html>
