{% extends 'base.html' %}
{% block title %}{{ year|date:'Y' }}{% endblock %}
{% block content %}
  <div>
    <h3 class="bold center">{{ year|date:'Y' }}</h3>
    {% for e in entries_by_year %}
      {% include "item_snippet.html" with item=e %}
    {% endfor %}
  </div>
  {% include "paginate.html" %}
{% endblock %}
