{% extends 'base.html' %}
{% block title %}Video Clips{% endblock %}
{% block content %}
  <div class="center">
    <h3>Video Clips</h3>
  </div>
  <div style="padding-bottom: 100px;">
    {% for v in live_video %}
      <div>
        <div style="clear: left;">
          <a style="float: left; padding-right: 10px;" href="{% url 'media:detail' v.slug %}">{{ v.media_link_300200|striptags }}</a>
          <h5 class="bold"><a href="{% url 'media:detail' v.slug %}">{{ v.title }}</a></h5>
          <div>Posted on {{ v.date_added|date:'Y' }}-{{ v.date_added|date:"m" }}-{{ v.date_added|date:"d" }}</div>
          <p>{{ v.description|striptags|truncatewords:14 }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  {% include 'paginate.html' %}
{% endblock %}
