a {
    color: #222;
}

a:hover {
    color: #666668;
}

div.button-count {
    color: #000000;
}

body {
    font-size: 1.8em;
    margin: 0 auto;
    max-width: 1200px;
    padding: 25px 50px;
}

blockquote {
    background: lightgrey;
    font-size: 1.06em;
    border-radius: 10px;
    padding: 20px 50px;
}

mark {
    background: #0ff;
}

tr td p:last-child {
    margin-bottom: 0;
}

.added {
    color: green;
}

.updated {
    color: blue;
}

.removed {
    color: red;
}

.spoiler {
    background: black;
}

#cltoc {
    padding-left: 40px;
}

#mod-detail ul {
    padding-left: .9em;
    padding-right: .9em;
    margin-bottom: 0;
}

#mod-list-toc {
    margin-bottom: 50px;
    margin-left: 10px;
}

ul {
    margin-left: 20px;
}

ul li {
    list-style-position: outside;
}

div.val ol, ol li, ul li {
    margin-bottom: 0;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.entry-body {
    margin-bottom: 45px;
}

.line {
    border-bottom: 1px solid;
    margin-bottom: 25px;
}

.small {
    color: #666668;
    font-size: 0.5em;
    text-transform: uppercase;
}

.smallb {
    font-size: 0.4em;
    text-transform: uppercase;
}

.pag-icon {
    font-size: 1.3em;
}

.paginate-num {
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
}

.title-nav-left {
    padding-right: 5px;
}

.title-nav-right {
    padding-left: 5px;
}

div.ul {
    cursor: pointer;
    text-decoration: underline;
}

.upper {
    text-transform: uppercase;
}

a.time-link {
    cursor: pointer;
    text-decoration: underline;
}

a.noul {
    text-decoration: none;
}

a.noul:hover {
    text-decoration: none;
    color: #222;
}

button {
    color: white;
    background-color: black;
    border-color: black;
}

button:hover, button:focus {
    color: black;
    background-color: white;
}

button#get-link {
    margin-top: 20px;
}

div.cfgs {
    margin: 0 auto;
    width: 60%;
}

div#banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
    color: white;
    font-size: 0.8em;
    margin-bottom: 10px;
    z-index: 2;
}

div#banner a {
    color: white;
}

div#mod-detail {
    margin: 0 auto;
}

div#tags {
    font-size: 0.6em;
}

div#wip {
    color: #666668;
    font-size: 0.8em;
    padding-bottom: 10px;
    margin-top: -20px;
}


p#ip {
    font-size: 4em;
}

div#cfg-intro {
    padding-left: 20%;
}

/* Mod Detail Page */

.mod__badge {
  background-color: #222;
  border-radius: 4px;
  padding: 0.35em 0.5em;
  color: white;
}

.mod__badge a {
 color: inherit;
}

.mod__badge:hover {
  color: #222;
  background-color: white;
}

.mod__badge:hover a {
  color: #222;
}

.mod__badge a {
  text-decoration: none;
}

#mod__step-info-pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1em;
  max-width: 80%;
}

#mod__step-info-pagination p {
  margin: 0;
}

#mod__step-info-pagination .button {
  height: 100%;
  padding: 0 1.5em;
  width: auto;
}

#mod__step-info-pagination .button i {
  font-size: 1.35em;
  vertical-align: text-top;
}

@media (max-width: 900px) {
  #mod__step-info-pagination p {
    margin: 1em 0;
  }

  #mod__step-info-pagination {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    max-width: 100%;
  }
}

#mod__momw-metadata {
  padding: 1em 0;
}

#mod__momw-metadata p {
  margin: 0.75em 0;
}

/* Alert + CTA */

.alert {
  font-weight: bold;
  text-align: center;
}

.cta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  align-items: baseline;
}

.cta button {
  height: 100%;
  margin: 0 1em;
}

/* Footer */

#footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
}

nav#footer-cta {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  padding: 1em;
}

nav#footer-cta a {
  display: block;
  height: auto;
}

footer nav {
  display: flex;
  flex-direction: column;
}

@media (max-width: 580px) {
  nav#footer-cta {
    flex-direction: column;
    align-items: center;
  }

  #footer-wrapper {
    flex-direction: column;
  }
}

footer nav a {
  display: block;
  font-size: 1em;
}

footer h4 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0.5em 0;
}

div#content {
    margin: 20px;
}

div#toc {
    width: 400px;
    margin: 0 auto;
}

iframe#twitch {
    height: 400px;
    width: 600px;
}

iframe#mod-list-utoob {
    width: 560px;
    height: 315px;
}

iframe#dnt {
    border: 0;
    height: 120px;
    width: 100%;
}

video {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

video#list {
    height: 270px;
    width: 480px;
}

img {
    margin-left: auto;
    margin-right: auto;
}

div#content a img {
    display: block;
}

img.pic {
    margin: 15px auto;
    max-height: 500px;
}

div#modlist-pagination {
    padding-bottom: 20px;
}

div#mod-list-grid div.listcount {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding-top: 10px;
}

div#mod-list-grid div.listdesc {
    border-left: 1px solid #e1e1e1;
    padding-left: 10px;
}

div#mod-list-grid div.listtitle {
    border-left: 1px solid #e1e1e1;
    padding-top: 15px;
    padding-left: 10px;
}

/* grid stuff */

div#mod-list-changelog-grid {
    display: grid;
    grid-template-columns: 120px 110px 4fr;
    grid-auto-rows: minmax(50px, auto);
    margin-bottom: 30px;
}

div#mod-list-changelog-grid div.cl-action {
    border-left: 1px solid #e1e1e1;
    padding-left: 10px;
}

div#mod-list-changelog-grid div.cl-date {
    border-left: 1px solid #e1e1e1;
    padding-left: 10px;
}

div#mod-list-changelog-grid div.cl-note {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding-left: 10px;
}

div#mod-list-changelog-grid div {
    padding-top: 10px;
    border-bottom: 1px solid #e1e1e1;
}

div#custom-cfg-grid3 {
    display: grid;
    grid-template-columns: 0.1fr 250px;
    grid-auto-rows: minmax(50px, auto);
    margin-bottom: 15px;
}

div#custom-cfg-grid3 div.modenabled, div#custom-cfg-grid3 div.modname {
    border-left: 1px solid #e1e1e1;
    padding-left: 10px;
}

div#custom-cfg-grid3 div.modenabled {
    padding-left: 40%;
    border-top: 1px solid #e1e1e1;
}

div#custom-cfg-grid3 div.modname {
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
}

div#custom-cfg-grid3 div {
    padding-top: 10px;
    border-bottom: 1px solid #e1e1e1;
}

div#custom-cfg-grid2 {
    display: grid;
    grid-template-columns: 0.1fr 1.1fr;
    grid-auto-rows: minmax(50px, auto);
}

div#custom-cfg-grid {
    display: grid;
    grid-template-columns: 0.1fr 1.1fr;
    grid-auto-rows: minmax(50px, auto);
    margin-bottom: 30px;
    /*
TODO: Can we use some better styling patterns?
https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content
https://developer.mozilla.org/en-US/docs/Web/CSS/gap#flex_layout
   */
}

div#custom-cfg-grid div.modenabled, div#custom-cfg-grid div.modname {
    border-left: 1px solid #e1e1e1;
    padding-left: 10px;
}

div#custom-cfg-grid div.modenabled {
    padding-left: 40%;
}

div#custom-cfg-grid div.modname {
    border-right: 1px solid #e1e1e1;
}

div#custom-cfg-grid div {
    padding-top: 10px;
    border-bottom: 1px solid #e1e1e1;
}

div#search-results-grid {
    display: grid;
    grid-template-columns: 3fr 1.1fr 1.3fr 3fr;
    grid-auto-rows: minmax(50px, auto);
    margin-bottom: 30px;
}

div#search-results-grid div.modcount {
    border-left: 1px solid #e1e1e1;
    padding-left: 10px;
}

div#search-results-grid div.modname {
    border-left: 1px solid #e1e1e1;
    padding-left: 10px;
}

div#search-results-grid div.modauthor {
    border-left: 1px solid #e1e1e1;
    padding-left: 10px;
}

div#search-results-grid div.moddesc {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding-left: 10px;
}

div#search-results-grid div {
    padding-top: 10px;
    border-bottom: 1px solid #e1e1e1;
}

table#mod-list-detail-grid {
  border-collapse: collapse;
  border: 1px solid #e1e1e1;
  padding: 1em;
  table-layout: fixed;
  width: 100%;
}

table#mod-list-detail-grid th {
  border: 1px solid #e1e1e1;
  padding: 0.25em 0.5em;
}

table#mod-list-detail-grid td {
  border: 1px solid #e1e1e1;
  padding: 0.25em 0.5em;
  overflow-x: auto;
}

div#mod-list-grid {
    display: grid;
    grid-template-columns: 300px 1fr 100px;
    grid-auto-rows: minmax(50px, auto);
    margin-top: 20px;
    margin-bottom: 20px;
}

div#mod-list-grid div {
    border-bottom: 1px solid #e1e1e1;
}

div#mod-list-grid div:first-child, div#mod-list-grid div:nth-child(2) {
    font-weight: bold;
    text-align: center;
}

div#mod-list-grid div:nth-child(3n) {
    font-weight: bold;
    text-align: center;
}

div.mod-detail-grid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-auto-rows: minmax(50px, auto);
    margin-top: 20px;
    margin-bottom: 20px;
}

div.mod-detail-grid h4 {
    margin-top: 25px;
}

div.mod-detail-grid div {
    border-top: 1px solid #e1e1e1;
    padding-top: 10px;
}

div.mod-detail-grid div:last-child {
    border-bottom: 1px solid #e1e1e1;
}

div.mod-detail-grid div:nth-last-child(2) {
    border-bottom: 1px solid #e1e1e1;
}

div.mod-detail-grid .key {
    border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    padding-left: 1px;
    padding-right: 5px;
    text-align: right;
}

div.mod-detail-grid .val {
    border-right: 1px solid #e1e1e1;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 5px;
}

div.mod-detail-grid .val p {
    margin-bottom: 15px;
}

div.mod-detail-grid .val p:last-of-type {
    margin-bottom: initial;
}

/* div.mod-detail-grid .val code, div.mod-detail-grid .val pre { */
/*     max-height: 500px; */
/* } */

div.mod-detail-grid .val pre {
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 99%;
}

.radio-list__item {
  display: block;
  margin: 0.6rem 0;
}

.radio-list__item label {
  display: inline;
}

input#mwdir {
    width: 60%;
}

label.customcfg-sublist {
    padding-top: 5px;
}

label.customcfg {
    display: block;
    float: left;
    padding-right: 30px;
}

/* Skeleton overrides */
.button.button-primary, button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    background-color: #222;
    border-color: #222;
    font-size: 11px;
    padding: 0;
    width: 180px;
}

.button.button-primary:focus, button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus,
.button.button-primary:hover, button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
    background-color: white;
    border-color: #666668;
    font-size: 11px;
    padding: 0;
    width: 180px;
    color: black;
}

button[disabled], html input[disabled] {
    font-size: 11px;
    padding: 0;
    width: 180px;
}

button:disabled,
button[disabled]{
  background-color: white;
  color: black;
}

summary {
  cursor: pointer;
  margin: 1rem 0 0 0;
}

summary > p {
  display: inline;
}

/* Larger than mobile */
@media (min-width: 400px) { }

/* Larger than phablet */
@media (min-width: 550px) { }

/* Larger than tablet */
@media (min-width: 750px) { }

/* Larger than desktop */
@media (min-width: 1000px) { }

/* Larger than Desktop HD */
@media (min-width: 1200px) { }

@media screen and (max-width: 800px) {
    p#ip {
        font-size: 2em;
    }

    a.step-num {
        padding-left: 2px;
    }

    div#mod-list-changelog-grid {
        grid-template-columns: unset;
        grid-template-columns: 110px 1fr;
    }

    iframe#twitch {
        height: 200px;
        width: 300px;
    }

    iframe#mod-list-utoob {
        width: 300px;
        height: 177px;
    }

    div#search-results-grid div.modcount {
        border-right: 1px solid #e1e1e1;
        padding-left: 2px;
    }

    div#search-results-grid {
        grid-template-columns: unset;
        grid-template-columns: 1fr .45fr;
        margin-bottom: 30px;
    }

    div#mod-list-grid {
        grid-template-columns: unset;
        grid-template-columns: 160px 1fr 50px;
    }

    div#mod-list-grid div:first-child, div#mod-list-grid div:nth-child(2) {
        text-align: initial;
    }

    div#mod-list-grid div.listcount {
        padding-top: 20px;
    }

    div.mod-detail-grid {
        grid-template-columns: unset;
        grid-template-columns: 1 1f;
    }

    div.mod-detail-grid .key, div.mod-detail-grid .val {
        overflow-x: auto;
    }

    div.mod-detail-grid .key {
        border-left: 1px solid #e1e1e1;
        font-weight: bold;
        padding-left: 10px;
        text-align: initial;
    }

    div.mod-detail-grid .val {
        border-left: 1px solid #e1e1e1;
    }

    div.mod-detail-grid .val {
        border-top: initial;
    }

    div.mod-detail-grid div:nth-last-child(2) {
        border-bottom: initial;
    }

    div#search-results-grid div.modname {
        border-right: 1px solid #e1e1e1;
    }

    .mobile-hide {
        display: none;
    }

    div#suggested-folder-paths {
        margin: 0 4% 0;
    }

    div.cfgs {
        margin: 0 auto;
        width: 95%;
    }

    .button.button-primary, button.button-primary,
    input[type="submit"].button-primary,
    input[type="reset"].button-primary,
    input[type="button"].button-primary  {
        background-color: #222;
        border-color: #222;
        font-size: 13px;
        padding: 0;
        width: 275px;
    }

    .button.button-primary:focus, button.button-primary:focus,
    input[type="submit"].button-primary:focus,
    input[type="reset"].button-primary:focus,
    input[type="button"].button-primary:focus,
    .button.button-primary:hover, button.button-primary:hover,
    input[type="submit"].button-primary:hover,
    input[type="reset"].button-primary:hover,
    input[type="button"].button-primary:hover {
        background-color: white;
        border-color: #666668;
        font-size: 13px;
        padding: 0;
        width: 275px;
        color: black;
    }

    button[disabled], html input[disabled] {
        font-size: 13px;
        padding: 0;
        width: 275px;
    }
}

@media screen and (max-width: 1000px) {
    div#mod-list-changelog-grid {
        grid-template-columns: unset;
        grid-template-columns: 110px 1fr;
    }

    div#mod-list-grid {
        grid-template-columns: unset;
        grid-template-columns: 160px 1fr 50px;
    }

    div#mod-list-grid div:first-child, div#mod-list-grid div:nth-child(2) {
        text-align: initial;
    }

    div#mod-list-grid div.listcount {
        padding-top: 20px;
    }

    div.mod-detail-grid {
        grid-template-columns: unset;
        grid-template-columns: 1 1f;
    }

    div.mod-detail-grid .key, div.mod-detail-grid .val {
        overflow-x: auto;
    }

    div.mod-detail-grid .key {
        border-left: 1px solid #e1e1e1;
        font-weight: bold;
        padding-left: 10px;
        text-align: initial;
    }

    div.mod-detail-grid .val {
        border-left: 1px solid #e1e1e1;
    }

    div.mod-detail-grid .val {
        border-top: initial;
    }

    div.mod-detail-grid div:nth-last-child(2) {
        border-bottom: initial;
    }

    .mobile-hide {
        display: none;
    }

    body {
        margin: 0 auto;
        padding: 3px;
    }

    div#content {
        margin: 0 auto;
    }

    iframe#dnt {
        height: 240px;
    }

    .step-num {
        padding-left: 10px;
    }
}

@media screen and (max-width: 1120px) {
    div#mod-list-grid {
        grid-template-columns: unset;
        grid-template-columns: 160px 1fr 50px;
    }

    div#mod-list-grid div:first-child, div#mod-list-grid div:nth-child(2) {
        text-align: initial;
    }

    div#mod-list-grid div.listcount {
        padding-top: 20px;
    }

    div.mod-detail-grid {
        grid-template-columns: unset;
        grid-template-columns: 1 1f;
    }

    div.mod-detail-grid .key, div.mod-detail-grid .val {
        overflow-x: auto;
    }

    div.mod-detail-grid .key {
        border-left: 1px solid #e1e1e1;
        font-weight: bold;
        padding-left: 10px;
        text-align: initial;
    }

    div.mod-detail-grid .val {
        border-left: 1px solid #e1e1e1;
    }

    div.mod-detail-grid .val {
        border-top: initial;
    }

    div.mod-detail-grid div:nth-last-child(2) {
        border-bottom: initial;
    }

    .mobile-hide {
        display: none;
    }

    .mobile-banner-pad {
        padding-top: 30px;
    }

    div.cfgs {
        margin: 0 auto;
        width: 70%;
    }
}

@media screen and (max-width: 1000px) {
    .mobile-hide {
        display: none;
    }

    .mobile-banner-pad {
        padding-top: 60px;
    }
}

@media screen and (max-width: 1045px) {
    .mobile-hide {
        display: none;
    }

    .mobile-banner-pad {
        padding-top: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .mobile-hide {
        display: none;
    }

    .mobile-banner-pad {
        padding-top: 60px;
    }
}

@media screen and (max-width: 550px) {
    .mobile-hide {
        display: none;
    }

    .mobile-banner-pad {
        padding-top: 50px;
    }
}

@media screen and (max-width: 530px) {
    .mobile-hide {
        display: none;
    }

    .mobile-banner-pad {
        padding-top: 60px;
    }
}

@media screen and (max-width: 500px) {
    .mobile-hide {
        display: none;
    }

    .mobile-banner-pad {
        padding-top: 85px;
    }

    div.cfgs {
        margin: 0 auto;
        width: 100%;
    }
}
