{% extends 'base.html' %}
{% block title %}About {{ this_site }}{% endblock %}
{% block content %}

  <h2>About <span class="bold">{{ this_site }}</span></h2>

  <h5>Welcome!</h5>

  <p>This website is a resource for experienced Morrowind players as well as those players who are experienced with modding games in general.  <a href="/lists/">Several mod lists</a> are provided as a reference or for you to follow exacly as a way to heavily or lightly mod Morrowind with OpenMW, as well as <a href="/getting-started/settings/">settings tweaks</a> and <a href="/tips/">other modding tips</a>.</p>

  <p>A <a href="{% url 'cfg_generator' %}">CFG Generator</a> is offered as a way to ensure you've got the right load order for your mod set.  It features a few presets for common setups, or you can select your own mods and get the appropriate load order for data paths and plugins.</p>

  <p>Speed and usability are top priorities for the site, hence the sort of minimalist look and feel throughout.  My vision for the site is that it should be quick and demand as few resources as possible to render, including minimal and optional usage of javascript.  I also promise to never show ads, and always respect all visitors' privacy.  Please see <a href="{% url 'privacy' %}">this page</a> for more details about this site and your privacy.</p></p>

  <p>Last but not least, the source code for this website is freely available under the GPLv3 - check it out <a href="https://gitlab.com/modding-openmw/modding-openmw.com">here</a>!</p>

  <h2>About the team</h2>

  <p><span class="bold">{{ this_site }}</span> is maintained by a group of individuals who simply love Morrowind and OpenMW!</p>

  <p>My name is <a href="https://hristos.co">Hristos</a>!  I created this site to document my own mod usage as well as to serve as a resource for others looking to spice up their game.  I sincerely hope you find it useful, any <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues">feedback</a> is totally welcome. I also regularly hang out on <a href="https://discord.gg/Xqq8WeJaMu">the OpenMW Discord server</a>, my username is <code>johnnyhostile</code> so be sure to say hello or ask a question if you're on there.</p>

  <p>Hey there it's Gonzo! I'm a long-time fan of Morrowind and have been modding the game for as long as I've had a PC capable of playing it. Some of my other favorite games are Deus Ex, Red Alert 2, and Noita. Feel free to find me on Discord and ask me any questions you have about using the site, modding the game, or just to chat about video games!</p>

  <p>Hello, Sophie here! I've been modding morrowind since the game released and figured it's about time to got involved in the community. I've been submitting issues and patches for modding-openmw for awhile now and was invited to help out officially. You are always welcome to tag me in the openmw discord <code>Sophie<3~</code> if you need help, I do enjoy helping. I'm a raver girl super into happy hardcore, hardstyle, and powerstomp. Some of my favorite games other then morrowind are Tales of Eternia, Star Ocean 2, Valkyrie Profile, Advanced Wars 2 Blackhole Rising and Megaman Battle Network.</p>

  <p>Hi, I'm Ronik! Like the others here, I also enjoy Morrowind, modding Morrowind, and modding Bethesda games in general. Aside from my work on this website, I'm also actively involved with the Tamriel Rebuilt project as a quest developer while also doing some QA work. You can find me on Discord, usually hanging out on the Tamriel Rebuilt and OpenMW servers.</p>

  <p>Hiya, I'm Dave! Much like my cohorts I have a lifelong passion for technology and Morrowind. I started with this game when I was barely young enough to read and never put it down. Since then I've picked up a programming habit of my own and have made contributions to the OpenMW engine, its construction set, TES3MP, and even made my own fork of OpenMW which you can find here: <a href="https://github.com/DreamWeave-MP/Dreamweave">https://github.com/DreamWeave-MP/Dreamweave</a>. If you want to support my work, buy me some coffee, I drink a lot of it: <a href="https://ko-fi.com/magicaldave">https://ko-fi.com/magicaldave</a><br>If your game is broken or you just wanna hang out feel free to look for <code>S3ctor</code> in any Morrowind Discord server.</p>

  <p>Hello, I go by Settyness! I am an audio engineer turned sound designer, "full stack" web developer, chef, and an acolyte of free software. I discovered Morrowind in 2011, when I wanted to play newer Bethesda titles, but lacked the hardware to make it happen. I instead played Fallout, Fallout 2, and Morrowind. What an auspicious limitation that became! After my initial, vanilla run of the main quest (which blew me away), I began my Morrowind modding journey; I discovered Tamriel Rebuilt and OpenMW the very same year. My goal is to use my modding-adjacent skills to give back to the community that has given me so much entertainment throughout the years.</p>

  <p>Hey, I'm fallchildren. I'm a developer and devops guy doing this and that. Also a free software advocate. Running linux since 15 years exclusively (so don't ask me windows questions on discord, my answer will be all wrong :O). Sometimes in my life I'm also a broke punk rock musician. Love tinkering with guitars and tinkering with stuff in general. Been playing Morrowind since it was first released and am participating mostly for modding-openmw by writing <code>umo</code>.</p>

{% endblock %}
