{% extends 'base.html' %}
{% block title %}All Mods{% endblock %}
{% block content %}
  <div class="center">
    <h3 class="center">All mods</h3>

    <h4><span class="bold">{{ mods.count }}</span> mods</h4>

    <p>All mods in the site database.</p>

    <p>
      {% include 'mods-nav.html' with cur_page="all_mods" %}
    </p>

    {% include 'mod_table.html' with mods=mods show_category=True %}
  </div>

{% endblock %}
