{% extends 'base.html' %}
{% block title %}{% for mod in mods %}{{ mod }}{% endfor %}{% endblock %}
{% block content %}
  {% for mod in mods %}
    {% include 'mod_snippet.html' with mod=mod max=mods.paginator.num_pages %}
  {% endfor %}

  <div class="center">
    {% if mods.has_previous %}
      <a href="?step={{ mods.previous_page_number }}"><i class="fa fa-chevron-left pag-icon" aria-hidden="true"></i></a>
    {% endif %}

    {% for num in pag_range %}
      {% if mods.number == num %}
        <span class="bold paginate-num">{{ num }}</span>
      {% else %}
        <a href="?step={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if mods.has_next %}
      <a href="?step={{ mods.next_page_number }}"><i class="fa fa-chevron-right pag-icon" aria-hidden="true"></i></a>
    {% endif %}
  </div>
{% endblock %}
