{% extends 'base.html' %}
{% block title %}Mod Categories{% endblock %}
{% block content %}

  <h4 class="center">All Categories</h4>

  <p class="center">
    {% include 'mods-nav.html' with cur_page="mod_categories" %}
  </p>

  <table class="u-full-width">
    <thead>
      <tr>
        <th>Category Name</th>
        <th>Mod Count</th>
        <th class="mobile-hide">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for c in categories %}
        <tr>
          <td><a class="bold" href="{{ c.get_absolute_url }}">{{ c }}</a></td>
          <td>{{ c.mod_set.count }}</td>
          <td class="mobile-hide">{{ c.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
