<footer>
  <div id="footer-wrapper">
    <div>
      <h4>Modding Tools and Info</h4>
      <nav>
        <a href="{% url 'getting_started' %}">OpenMW Setup Steps</a>
		<a href="{% url 'guides-auto' %}">Automatic Install Guide</a>
        <a href="{% url 'guides-users' %}" title="Are you a user looking to get your game modded? If so, then click this button.">Manual Install Guide</a>
        <a href="{% url 'cfg_generator' %}">CFG Generator</a>
        <a href="{% url 'user_settings' %}">Site Settings</a>
        <a href="{% url 'mod_categories' %}">Mod Categories</a>
        <a href="https://openmw.readthedocs.io/en/latest/reference/modding/mod-install.html#install">How To Install Mods</a>
        <a href="{% url 'mod-lists' %}">Mod Lists</a>
        <a href="{% url 'mod-list-faq' %}">Mod List FAQ</a>
        <a href="{% url 'mod_tags' %}">Mod Tags</a>
        <a href="{% url 'tips' %}">Modding Tips</a>
        <a href="{% url 'tips-customizing-modlists' %}">Customizing Mod Lists</a>
        <a href="{% url 'faq-tooling' %}">Tooling FAQ</a>
        <a href="{% url 'resources' %}">Modding Resources</a>
      </nav>
    </div>

    <div>
      <h4>Connect</h4>
      <nav>
        <a href="{% url 'subscribe' %}">Subscribe to Changes</a>
        <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues">Issue Tracker</a>
        <a href="https://discord.gg/KYKEUxFUsZ">MOMW Discord</a>
        <a href="https://web.libera.chat/?channels=#momw">MOMW IRC</a>
      </nav>
    </div>

    <div>
      <h4>About the Website</h4>
      <nav>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'faq' %}">FAQ</a>
        <a href="{% url 'privacy' %}">Your Privacy</a>
        <a href="{% url 'cookie' %}">Cookie Policy</a>
        <br />
        <a href="{% url 'changelogs-website' %}">Website Changelog</a>
        <a href="https://gitlab.com/modding-openmw/modding-openmw.com{% if momw_ver %}/-/blob/beta{% endif %}">Website Source Code</a>
        <a href="https://beta.modding-openmw.com/">Beta Website</a>
        {% if momw_ver %}
          <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/blob/{{ momw_sha }}">rev: {{ momw_rev }}</a>
        {% endif %}
      </nav>
    </div>
  </div>

  <div class="center">
    <p>&copy; {{ now|date:'Y' }} | Not directly affiliated with <a href="http://openmw.org/">the OpenMW project</a>.</p>
    {% if DEBUG %}
      {% load static %}<a href="https://stats.modding-openmw.com/"><img src="{% static 'goat_counter.png' %}" title="Stats by GoatCounter."></a>
      <a href="https://www.gnu.org/licenses/gpl-3.0.en.html"> <img src="{% static 'gplv3-88x31.png' %}" alt="GPLv3 logo" title="This site's source code is licensed under the GPLv3."></a>
    {% else %}
      <a href="https://stats.modding-openmw.com/"><img src="/goat_counter.png" title="Stats by GoatCounter."></a>
      <a href="https://www.gnu.org/licenses/gpl-3.0.en.html"> <img src="/gplv3-88x31.png" alt="GPLv3 logo" title="This site's source code is licensed under the GPLv3."></a>
    {% endif %}
  </div>
</footer>
