{% extends 'base.html' %}
{% block title %}Getting Started: Buy Morrowind{% endblock %}
{% block content %}

  {% include "gs-nav.html" with cur_page="gs-buy" %}

  <h3 class="center">Getting Started: <span class="bold">Buy Morrowind</span></h3>

  <table class="u-full-width">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="https://www.gog.com/game/the_elder_scrolls_iii_morrowind_goty_edition">GOG.com</a>: DRM-free, includes the Construction Set, Tribunal, Bloodmoon, and the official plugins -- as well as a PDF version of the official strategy guide.</td>
      </tr>
      <tr>
        <td><a href="https://store.steampowered.com/app/22320/The_Elder_Scrolls_III_Morrowind_Game_of_the_Year_Edition/">Steam</a>: Includes Tribunal and Bloodmoon but does not include the official plugins or the Construction Kit.</td>
      </tr>
      <tr>
        <td><a href="https://www.humblebundle.com/store/the-elder-scrolls-iii-morrowind-game-of-the-year-edition">Humble Store</a>: As far as I can tell, this is just the Steam version.</td>
      </tr>
      <tr>
        <td>If you want a hard copy, either CD or DVD, it seems like those can still be found.  A quick search should yield something.</td>
      </tr>
    </tbody>
  </table>

{% endblock %}
