{% extends 'base.html' %}
{% block title %}Getting Started: Install OpenMW{% endblock %}
{% block content %}

  {% include "gs-nav.html" with cur_page="gs-install" prev_link='/getting-started/buy/' next_link='/getting-started/settings/' %}

  <h2 class="center">Getting Started: <span class="bold">Install OpenMW 0.48 (or Development Build)</span></h2>

  <p>
    To install OpenMW visit <a href="https://openmw.org/downloads/">https://openmw.org/downloads/</a> and choose either the latest release version build (0.48) for your operating system or a development build.
  </p>

  <p>If you use Linux, you can also use the unofficial <a href="{% url 'mod_detail' slug='openmw-appimage' %}">AppImage</a>, which has versions for both release and development.</p>

  <h3 id="should-i"><a href="#should-i">Should I Use A Dev Build?</a></h3>

  <p>To install a Dev Build with the latest features, look for a download link for your platform under the "Development Builds" heading on <a href="https://openmw.org/downloads/">the official OpenMW downloads page</a>.</p>

  <p>Dev Builds are mentioned above as an install option, however you should prefer an actual release build unless you know you have a reason not to (such as: you need a new feature for some mod).</p>

  <p>Dev Builds contain the latest features, as well as the latest bugs.  Release builds are older but much more battle-tested, so you can expect fewer unknown problems.</p>

  <p>Users of Dev Builds are always needed; this is how bugs are found and subsequently fixed.  But unless you are OK with possible breakage and/or bug reporting, you will want to go with a stable build.</p>

  <p>If you experience a bug in an Dev Build, please feel free to hop into <a href="https://discord.gg/TksUqmB5T6">the OpenMW discord server</a> and let the team know about it, or file a bug on <a href="https://gitlab.com/OpenMW/openmw/-/issues/new?issue%5Bassignee_id%5D=&issue%5Bmilestone_id%5D=">the project issue tracker</a>.</p>

{% endblock %}
