{% extends 'base.html' %}
{% block title %}Developers' Guide{% endblock %}
{% block content %}
  <h1>Developers' Guide</h1>
  <p>Please refer to our <a href="https://gitlab.com/modding-openmw/modding-openmw.com">GitLab Repo</a>.
{% endblock %}
