<div class="center" style="margin-bottom: 20px;">
  {% if cur_page == "guides_developers" %}<button disabled="true">Developers' Guide</button>{% else %}<a class="button button-primary" href="{% url 'guides-developers' %}" title="Are you a developer looking to hack on this website's code? If so: this is the button you want to click.">Developers' Guide</a>{% endif %}
  {% if cur_page == "guides_modders" %}<button disabled="true">Modders' Guide</button>{% else %}<a class="button button-primary" href="{% url 'guides-modders' %}" title="Are you a modder looking to learn about an automated mod publishing pipeline? If so: click this button.">Modders' Guide</a>{% endif %}
  {% if cur_page == "guides_users" %}<button disabled="true">Manual Installation Guide</button>{% else %}<a class="button button-primary" href="{% url 'guides-users' %}" title="Are you a user looking to get your game modded? If so, then click this button.">Users' Guide</a>{% endif %}
</div>
