{% extends 'base.html' %}
{% block title %}Welcome{% if momw_ver %} to the {{ momw_ver|upper }}{% endif %}{% endblock %}
{% block content %}
  <p>
    A website dedicated to modding and modernizing Morrowind with <a href="http://openmw.org/">OpenMW</a>.
  </p>

  <div class="line" style="margin-top: 14px;"></div>

  <h2 class="bold">Installing a Mod List</h2>

  <p>We maintain curated <a href="{% url 'mod-lists' %}">mod lists</a>.</p>

  <p>There are two ways to install a <a href="{% url 'mod-lists' %}">mod list</a>:</p>

  <a class="button button-primary" href="{% url 'guides-auto' %}">Automatic Install</a>

  <span>or</span>

  <a class="button button-primary" href="{% url 'guides-users' %}">Manual Install</a>

  <div class="line" style="margin-top: 14px;"></div>

  <h2 class="bold">Mod and Mod List Updates</h2>
  <div>
    <a class="button button-primary" href="{% url 'changelogs' %}">Mod List Changelogs</a>
    <a class="button button-primary" href="{% url 'latest_mods' %}">Latest Mod Updates</a>
    <a class="button button-primary" href="https://modding-openmw.gitlab.io/update-center/">Mod Update Center</a>
  </div>
{% endblock %}
