<table id="mod-list-detail-grid">
  <thead>
    <th style="width: 6%;">Step</th>
    <th style="width: 35%;">Name</th>
    <th class="mobile-hide">Author</th>
    <th class="mobile-hide">Description</th>
  </thead>
  <tbody>
    {% for lm in listed_mods %}
      <tr>
        <td class="modcount">
          {% if is_parent %}
            <a class="step-num mod-detail-link" href="{% url 'mod-list-step-detail' lm.get_slug lm.parent_order %}">#{{ lm.parent_order }}</a>
          {% else %}
            <a class="step-num mod-detail-link" href="{% url 'mod-list-step-detail' lm.modlist.slug lm.order_number %}">#{{ lm.order_number }}</a>
          {% endif %}
        </td>
        <td class="modname">
          {% if is_parent %}
            <a class="step-num mod-detail-link" href="{% url 'mod-list-step-detail' lm.get_slug lm.parent_order %}">{{ lm.mod.name }}</a>
          {% else %}
            <a class="step-num mod-detail-link" href="{% url 'mod-list-step-detail' lm.modlist.slug lm.order_number %}">{{ lm.mod.name }}</a>
          {% endif %}
        </td>
        <td class="mobile-hide">
          {{ lm.mod.author|striptags|truncatewords:6 }}
        </td>
        <td class="mobile-hide">
          {{ lm.mod.description|striptags|truncatewords:8 }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
