{% extends 'base.html' %}
{% block title %}Load Order{% endblock %}
{% block content %}

  <h3 class="bold center">Load Order</h3>

  <p>To ensure you have the right load order for your game, please visit <a class="bold" href="{% url 'cfg_generator' %}">the CFG Generator page</a>.  There you can select the mods you want to use and get the right data and plugin load orders for them.

  <h4>The details</h4>

  <p>With OpenMW, load order refers to two things:</p>

  <ol>
    <li>The order of plugins (<code>.esp</code>, <code>.omwaddon</code> files, etc.)</li>
    <li>The order of data files (you <span class="bold">are</span> using separate data paths... right?!)</li>
  </ol>

  <p>Tools exist for solving the first issue with vanilla.  While tools such as Mlox produces results that can be converted to an OpenMW-readable format, they do not even consider OpenMW-native plugins (<code>.omwaddon</code> files) and in my tests produced incorrect results with an OpenMW loaddout.</p>

  <p>The second issue does not exist for vanilla Morrowind since it doesn't even have that capability.  But with OpenMW it is possible to produce undesired results with a "bad" data file load order.</p>

  <div id="how-i-do-it">
    <h4>How I produce my load order</h4>

    <p>The load order that's presented by <a href="{% url 'cfg_generator' %}">the CFG Generator</a> is produced through several steps:</p>

    <ol>
      <li>Setup a vanilla Morrowind install.</li>
      <li>Install Mlox from <a href="https://github.com/mlox/mlox">the git repo</a> (I'm using the commit: <code>13b077407928cd42be6f21277b400ba2a8499683</code>).</li>
      <li>Install Danae's rules list from <a href="https://github.com/DanaePlays/mlox-rules">the git repo</a>, put it into the root of the Mlox install.</li>
      <li>I copy these rules (two <code>.txt</code> files from the repo) into my <code>$HOME/.local/share/mlox</code> directory so they are used when I run Mlox. Note that this location will be different for Windows users.</li>
      <li>Load up all non-<code>omwaddon</code> pluigins into a vanilla ini file.  I wrote a small python script to do this for me, please find that <a href="https://git.sr.ht/~hristoast/openmwcfg2mwini">on Sourcehut</a> with some rough usage instructions.</li>
      <li>Scan this file with <a href="https://github.com/mlox/mlox">Mlox</a>.</li>
      <li>Apply the adjustments made by Mlox, with some exceptions.</li>
      <ul>
        <li>In some cases (that need to be documented), I found that Mlox recommended a load order that broke some mods.</li>
        <li>Further, Mlox is totally unaware of native OpenMW plugins and can't factor those in.</li>
      </ul>
      <li>Translate the Mlox-edited vanilla ini file into the <code>openmw.cfg</code> format (someday I'll talk about this process in the tips section.)</li>
      <li>Manually insert the various native OpenMW plugins</li>
      <ul>
        <li>This is a process of trial and error, but for the most part these plugins (at least, the ones recommended by this site) fit into the load order fairly logically.</li>
        <li>Several quick playthroughs were done to ensure things were as they should be.  Lots of flying around, teleporting, and doing things via the console for expedience.</li>
      </ul>
      <li>When all was found to be working, I settled on the load order as is currently found on the generator.</li>
    </ol>
  </div>
{% endblock %}
