{% extends 'base.html' %}
{% block title %}Mod List FAQ{% endblock %}
{% block content %}

  <h4>Mod List FAQ</h4>

  <p>Frequently asked questions about issues that aren't actually issues but rather intended changes made by mods featured on MOMW mod lists</p>

  <ul>
    <li class="bold">I can see that not every plugin is enabled. Will that cause problems?</li>
    <ul>
      <li>This is intentional; many mods come with plugins that are only supposed to be enabled when you're using another specific mod. For our mod lists, we've already taken great care to only enable the things that are needed and to be sure that things you'll need are enabled. Enabling every plugin will cause many many problems.</li>
    </ul>
    <li class="bold">Should I upgrade my mods with umo when I'm in the middle of a playthrough?</li>
    <ul>
      <li><span class="bold">No!!</span> Although umo makes updating mods very easy and mods do update all the time, there's a very good chance that doing so could break your save game. It's very important to avoid doing a mass mod update with umo and only update specific mods if there happens to be a critical bug that gets fixed in a way that's safe to update mid-playthrough. Please see <a href="{% url 'guides-auto' %}#update-warning">this portion of the Automatic Installation Guide</a> for more information about how to update a single mod with umo.</li>
    </ul>
    <li class="bold">I see that MOMW Tools Pack updated, does that mean I need to reinstall everything?</li>
    <ul>
      <li>No. It isn't a bad idea to update MOMW Tools Pack itself, but there's no need to reinstall any mod lists if you've already got a working setup.</li>
    </ul>
    <li class="bold">Why doesn't the guide suggest using MO2 or load order sorting tools like Mlox/PLOX?</li>
    <ul>
      <li>This is deliberate; in case of mod managers like MO2, none of them fully support OpenMW's features and actually don't save you much work but cause you extra work while you work around their lack of support for OpenMW. Additionally: load order sorting tools will definitely break our already carefully-sorted ordering, so don't use them! We have it covered for you.</li>
    </ul>
    <li class="bold">I don't get as high of a framerate as I expected!</li>
    <ul>
      <li>This is the result of a few things: First, not all modded assets are perfectly optimized, though we do try to avoid extremely unoptimized assets in our lists. Second, the OpenMW engine is a work-in-progress and itself also is not perfectly optimized. In the future we may see features such as bindless textures or occlusion culling which can help increase performance in many scenes.</li>
    </ul>
	<li class="bold">Can I customize your mod lists by adding or removing mods?</li>
    <ul>
      <li>Yes, but: the mod lists on this website are carefully assembled with many patches to ensure things work together. You should only add or remove mods from one of our lists if you know what you're doing and you are reasonably sure that you won't create any conflicts. <span class="bold">Mod list customizations are NOT supported by the MOMW team, you're totally on your own when you customize a list!</span> You can view our guide on the topic <a href="{% url 'tips-customizing-modlists' %}">here</a>.</li>
    </ul>
  </ul>
  <ul>
    <li class="bold">Some of the birthsign descriptions are broken!</li>
    <ul>
      <li>The mod <a href="{% url 'mod_detail' slug='ncgdmw-lua-edition' %}">NCGDMW Lua Edition</a> requires patches for some of the birthsigns in order to play nice with them. Unfortunately, the patches cause the birthsign description to be missing. <span class="bold">This only affects OpenMW 0.48, it does not affect dev builds!</span> </li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a>, <a href='{% url 'mod-list-detail' slug='one-day-morrowind-modernization' %}'>One Day Morrowind Modernization</a>, <a href='{% url 'mod-list-detail' slug='just-good-morrowind' %}'>Just Good Morrowind</a></li>
      <li>Relevant mods: <a href="{% url 'mod_detail' slug='ncgdmw-lua-edition' %}">NCGDMW Lua Edition</a></li>
    </ul>
    <li class="bold"> My items stored on a permanent corpse are now gone!</li>
    <ul>
      <li>Certain modlists contain a <code>Persistent Corpse Disposal - Patch</code>, patch which removes these corpses when certain requirements are met. Therefore it's not a good idea to use any corpses as storage as you might have been used to from previous playthroughs. However, Morrowind doesn't really have a concept of "safe storage" like Oblivion and Skyrim, meaning the vast majority of containers don't respawn and can be used to safely store your loot (exceptions to the rule being guild supply chests).</li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a></li>
      <li>Relevant mods: <a href="{% url 'mod_detail' slug='alvazirs-various-patches' %}">Alvazir's Various Patches</a> (specifically this plugin: <code>PCD_PFP_Compat.esp</code>)</li>
    </ul>
    <li class="bold">My level up progress doesn't show in the main stats menu?</li>
    <ul>
      <li>Your level up progress won't show in the main stats menu. Instead you need to check the NCGDMW stats menu (N key by default).</li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a>, <a href='{% url 'mod-list-detail' slug='one-day-morrowind-modernization' %}'>One Day Morrowind Modernization</a>, <a href='{% url 'mod-list-detail' slug='just-good-morrowind' %}'>Just Good Morrowind</a>, <a href='{% url 'mod-list-detail' slug='starwind-modded' %}'>Starwind Modded</a></li>
      <li>Relevant mods: <a href='{% url 'mod_detail' slug='ncgdmw-lua-edition' %}'>NCGDMW Lua Edition</a></li>
    </ul>
    <li class="bold">Why am I leveling up so slowly?</li>
    <ul>
      <li>This is an intentional gameplay design choice; the aforementioned leveling mod has an option to control skill growth rates, and after much playtesting we've arrived at a rate that feels good for the balance, pacing, and overall content of affected lists.</li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a></li>
      <li>Relevant mods: <a href="{% url 'mod_detail' slug='ncgdmw-lua-edition' %}">NCGDMW Lua Edition</a>, <a href="{% url 'mod_detail' slug='momw-gameplay' %}">MOMW Gameplay (balance plugin)</a></li>
    </ul>
    <li class="bold">Why don't I get skill gains from reading books?</li>
    <ul>
      <li>This is another intentional gameplay design choice; the aforementioned leveling mod has another option to disable these skill gains from simply reading books. The intended balance and difficulty of relevant mod lists is such that these "free" skill gains don't quite fit, so we've disabled them.</li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a></li>
      <li>Relevant mods: <a href="{% url 'mod_detail' slug='ncgdmw-lua-edition' %}">NCGDMW Lua Edition</a>, <a href="{% url 'mod_detail' slug='momw-gameplay' %}">MOMW Gameplay (balance plugin)</a></li>
    </ul>
    <li class="bold">My screen borders turn red, or the whole screen gets distorted. How do I turn this off?</li>
    <ul>
      <li>You can adjust the intensity of these effects in the script settings menu (found by pressing ESC, clicking Options, the Scripts tab, then find "Sol's & Bodz' Stat Shaders").</li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a>, <a href='{% url 'mod-list-detail' slug='just-good-morrowind' %}'>Just Good Morrowind</a>, <a href='{% url 'mod-list-detail' slug='starwind-modded' %}'>Starwind Modded</a></li>
      <li>Relevant mods: <a href="{% url 'mod_detail' slug='solthas-combat-pack-openmw-lua' %}">Solthas Combat Pack (OpenMW Lua)</a></li>
    </ul>
    <li class="bold">What is the yellow bar near the health, fatigue, and magicka UI?</li>
    <ul>
      <li>Solthas Combat Pack adds this bar and it is related to your sneak bonus. You can read more about the specific module here: <a href='https://www.nexusmods.com/morrowind/mods/52382'>Sneak Step Drain</a>.</li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a>, <a href='{% url 'mod-list-detail' slug='just-good-morrowind' %}'>Just Good Morrowind</a>, <a href='{% url 'mod-list-detail' slug='starwind-modded' %}'>Starwind Modded</a></li>
      <li>Relevant mods: <a href="{% url 'mod_detail' slug='solthas-combat-pack-openmw-lua' %}">Solthas Combat Pack (OpenMW Lua)</a></li>
    </ul>
    <li class="bold">I can't find the Dwemer Puzzle Box in the place I remember it being in?</li>
    <ul>
      <li>The Total Overhaul and Expanded Vanilla lists feature several randomizer mods with the Dwemer puzzle box randomizer being one of them. We'd suggest that you'll take a look at the <a href='{% url 'mod-list-detail' slug='total-overhaul-randomizers' %}'>Randomizers</a> subsection.</li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a></li>
      <li>Relevant mods: <a href="{% url 'mod_detail' slug='mtrdwemerpuzzleboxrandomizer-randomizer-for-locati' %}">mtrDwemerPuzzleBoxRandomizer - Randomizer for Location of Dwemer Puzzle Box within Arkngthand associated with Main Quest</a></li>
    </ul>
    <li class="bold">I can't find the tax man at Seyda Neen and/or Ernil Omoran either and a mod like that isn't in the randomizer list!</li>
    <ul>
      <li>That specific randomizer is included in the MOMW Patches collection (as patch no. 07).</li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a>, <a href='{% url 'mod-list-detail' slug='just-good-morrowind' %}'>Just Good Morrowind</a></li>
      <li>Relevant mods: <a href="{% url 'mod_detail' slug='momw-patches' %}">MOMW Patches</a></li>
    </ul>
    <li class="bold">Ajira's stolen reports aren't where they should be!</li>
    <ul>
      <li>In addition to other randomizer mods mentioned, Total Overhaul and Expanded Vanilla also feature one that randomizes the location of her reports.</li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a></li>
      <li>Relevant mods: <a href="{% url 'mod_detail' slug='oh-no-stolen-reports' %}">Oh No Stolen Reports</a></li>
    </ul>
    <li class="bold">My map is missing parts of the Morrowind mainland.</li>
    <ul>
      <li>The mod that adds that content is a work-in-progress. Those locations will be filled out in time!</li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a>, <a href='{% url 'mod-list-detail' slug='graphics-overhaul' %}'>Graphics Overhaul</a>, <a href='{% url 'mod-list-detail' slug='one-day-morrowind-modernization' %}'>One Day Morrowind Modernization</a>, <a href='{% url 'mod-list-detail' slug='i-heart-vanilla-directors-cut' %}'>I Heart Vanilla: Director's Cut</a></li>
      <li>Relevant mods: <a href="{% url 'mod_detail' slug='tamriel-rebuilt' %}">Tamriel Rebuilt</a></li>
    </ul>
    <li class="bold">All questgivers for a vanilla faction are saying that I need to progress to the next rank before they give me any more quests, but I have already completed all available quests. What do I need to do to progress?</li>
    <ul>
      <li>The modlists use the optional Factions add-on for Tamriel Rebuilt which increases the faction advancement thresholds for most vanilla factions, meaning you will have to complete some Tamriel Rebuilt content to reach the top rank of the faction. Old Ebonheart and Andothren are good places to start.</li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a>, <a href='{% url 'mod-list-detail' slug='one-day-morrowind-modernization' %}'>One Day Morrowind Modernization</a></li>
      <li>Relevant mods: <a href="{% url 'mod_detail' slug='tamriel-rebuilt' %}">Tamriel Rebuilt</a></li>
    </ul>
    <li class="bold">I can't find the entrance to the Ashanammu cave in The Telvanni Agents quest.</li>
    <ul>
      <li>Rest assured it's still there, it's just been moved by one of the mods. It can be a bit confusing to find.</li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a></li>
      <li>Relevant mods: <a href="{% url 'mod_detail' slug='caldera-mine-expanded' %}">Caldera Mine Expanded</a></li>
    </ul>
    <li class="bold">I can't find Creeper or the Talking Mudcrab in their usual places.</li>
    <ul>
      <li>One of the mods makes them travel to different locations.</li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a></li>
      <li>Relevant mods: <a href="{% url 'mod_detail' slug='wandering-creature-merchants' %}">Wandering Creature Merchants</a></li>
    </ul>
    <li class="bold">Drinking potions poisons me and drinking too many outright kills me.</li>
    <ul>
      <li>This is also an intended feature of one of the mods.</li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a></li>
      <li>Relevant mods: <a href="{% url 'mod_detail' slug='alchemical-hustle' %}">Alchemical Hustle</a></li>
    </ul>
    <li class="bold">Why can't I change to first person while outdoors?</li>
    <ul>
      <li>This is also an intended feature of one of the mods. This one can be safely disabled during your playthrough.</li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a>, <a href='{% url 'mod-list-detail' slug='one-day-morrowind-modernization' %}'>One Day Morrowind Modernization</a>, <a href='{% url 'mod-list-detail' slug='just-good-morrowind' %}'>Just Good Morrowind</a>, <a href='{% url 'mod-list-detail' slug='starwind-modded' %}'>Starwind Modded</a></li>
      <li>Relevant mods: <a href="{% url 'mod_detail' slug='action-camera-swap' %}">Action Camera Swap</a></li>
    </ul>
    <li class="bold">Early in the game, I found two notes that I can't pick up. Is that a bug?</li>
    <ul>
      <li>That's actually just a coincidence. There's two mods in the mod list that both add notes that you can't pick up to early game locations (one is at the Census and Excise Office at Seyda Neen, and the second is on the door to the Andrano Ancestral Tomb). This is just a quirk of these particular mods and not a change, or a bug, affecting all notes in the game.</li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a></li>
      <li>Relevant mods: <a href="{% url 'mod_detail' slug='andrano-ancestral-tomb-remastered' %}">Andrano Ancestral Tomb Remastered</a>, <a href="{% url 'mod_detail' slug='quests-for-clans-and-vampire-legends-qcvl' %}">Quests for Clans and Vampire Legends (QCVL)</a></li>
    </ul>
    <li class="bold">I'm not able to soul trap my own summons, what gives?</li>
    <ul>
      <li>This was an anti-cheese measure put into place by Vanilla friendly creatures and undeads expansion. You'll have to find creatures in the wild to soul trap instead!</li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a></li>
      <li>Relevant mods: <a href="{% url 'mod_detail' slug='vanilla-friendly-creatures-and-undeads-expansion' %}">Vanilla friendly creatures and undeads expansion</a></li>
    </ul>
	<li class="bold">The Vivec shipmaster (Ano Andaram) is not there!</li>
    <ul>
      <li>One of the mods adds proper docks to the Temple Quarter of Vivec. You'll find Ano and his ship there.</li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a>, <a href='{% url 'mod-list-detail' slug='graphics-overhaul' %}'>Graphics Overhaul</a></li>
      <li>Relevant mods: <a href="{% url 'mod_detail' slug='beautiful-cities-of-morrowind' %}">Beautiful Cities of Morrowind</a></li>
    </ul>
	<li class="bold">The Daedric Crescent is spinning on my back like an airplane propeller!</li>
    <ul>
      <li>This is an easter egg in Weapon Sheathing. If you don't find the joke funny, there is a patch to disable this <a href='https://drive.google.com/file/d/1e80Qs4mMHDmtNq6B_T0KsiZKOEjuNhtx/view'>here</a>.</li>
      <li>Relevant modlists: <a href='{% url 'mod-list-detail' slug='total-overhaul' %}'>Total Overhaul</a>, <a href='{% url 'mod-list-detail' slug='expanded-vanilla' %}'>Expanded Vanilla</a>, <a href='{% url 'mod-list-detail' slug='graphics-overhaul' %}'>Graphics Overhaul</a>, <a href='{% url 'mod-list-detail' slug='one-day-morrowind-modernization' %}'>One Day Morrowind Modernization</a>, <a href='{% url 'mod-list-detail' slug='just-good-morrowind' %}'>Just Good Morrowind</a>, <a href='{% url 'mod-list-detail' slug='i-heart-vanilla' %}'>I Heart Vanilla</a>, <a href='{% url 'mod-list-detail' slug='i-heart-vanilla-directors-cut' %}'>I Heart Vanilla: Director's Cut</a></li>
      <li>Relevant mods: <a href="{% url 'mod_detail' slug='weapon-sheathing' %}">Weapon Sheathing</a></li>
    </ul>
  </ul>

{% endblock %}
