{% extends 'base.html' %}
{% block title %}{{ tag }}{% endblock %}
{% block content %}
  <h1 class="center">Tag: <span class="bold">{{ tag }}</span></h1>
  <p class="center" style="margin-top: -20px;"><span class="bold">{{ count }}</span> mods</p>
  <p class="center">{{ tag.description|safe }}</p>

  {% include 'mod_table.html' with mods=tag_mods show_category=True %}

{% endblock %}
