<table id="mod-list-detail-grid">
  <thead>
    <tr>
      {% if latest %}<th>Date Updated</th>{% endif %}
      <th>Name</th>
      <th{% if latest %} class="mobile-hide"{% endif %}>Author</th>
      {% if show_category %}<th class="mobile-hide">Category</th>{% endif %}
      {% if not latest %}<th class="mobile-hide">Description</th>{% endif %}
    </tr>
  </thead>
  <tbody>
    {% for mod in mods %}
      <tr>
        {% if latest %}<th title="This mod's record on this website was last updated on: {{ mod.date_updated|date:"Y-m-d" }}">{{ mod.date_updated|date:"Y-m-d" }}</th>{% endif %}
        <td><a href="{{ mod.url }}"><a href="{{ mod.get_absolute_url }}">{{ mod.name }}</a>{% if mod.compat == 6 %} <i class="fa fa-ban" title="This mod is currently NOT compatible with the latest OpenMW!"></i>{% endif %}</td>
        <td{% if latest %} class="mobile-hide"{% endif %}>{{ mod.author|safe|truncatewords:10 }}</td>
        {% if show_category %}<td class="mobile-hide"><a href="{{ mod.category.get_absolute_url }}">{{ mod.category }}</a> </td>{% endif %}
        {% if not latest %}<td class="mobile-hide">{{ mod.description|safe|truncatewords:8 }}</td>{% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
