{% extends "base.html" %}

{% block title %}Curated Mod Lists{% endblock %}

{% block content %}
  <h1>Curated Mod Lists</h1>

  <p>Various mod lists are provided below, click on one for more information about it and to browse as well. Want to host your own list here? Please see the short guide on <a href="{% url 'add-a-list' %}">how to add your list</a> if you're interested.</p>

  <h2>MOMW Curated Lists</h2>

  <p>
    Our mod lists, created and maintained by the website team.
  </p>

  <div id="mod-list-grid">
    <div>List Name</div>
    <div>Description</div>
    <div>Mod Count</div>
    {% for l in ml_non_wip %}
      <div class="listtitle"><a class="bold" href="{{ l.get_absolute_url }}">{{ l.title }}</a></div>
      <div class="listdesc">{{ l.short_description|striptags }}</div>
      <div class="listcount">{{ l.mod_count }}</div>
    {% endfor %}
  </div>

  <h2>Original Games</h2>

  <p>
    All new games that use completely original assets with the OpenMW engine.
  </p>

  <div id="mod-list-grid">
    <div>Game Name</div>
    <div>Description</div>
    <div>Author</div>
    {% for l in original_games %}
      <div class="listtitle"><a class="bold" href="{{ l.get_absolute_url }}">{{ l.name }}</a></div>
      <div class="listdesc">{{ l.description|safe }}</div>
      <div class="listcount">{{ l.author|safe }}</div>
    {% endfor %}
  </div>

{% endblock %}
