{% extends 'base.html' %}
{% block title %}{{ mod_list_title }} Changelog{% endblock %}
{% block content %}
  <h1 id="top"><span class="bold">{{ mod_list_title }}</span> Changelog</h1>
  <p><a href="{% url 'mod-list-detail' slug=mod_list_slug %}">View <span class="bold">{{ mod_list_title }}</span></a></p>
  <p><a href="{% url 'changelogs' %}">View all list changelogs</a></p>
    <p>
      The versioning used below is: <code>MAJOR.MINOR.PATCH</code>, where changes to the <code>MAJOR</code> number indicate a major, breaking change to the list, and changes to the <code>MINOR</code> number indicate a minor update. Changes to the <code>PATCH</code> number indicate a minor addition, correction, or fix. Versions prior to <code>5.10.0</code> did not have a <code>PATCH</code> version.
    </p>
  {% if change_count > 0 %}
    <h3>Releases:</h3>
    <ul id="cltoc">
      {% for cl in c %}
        {% if cl.count > 0 %}
          <li><a href="#{{ cl.version }}">{{ cl.version }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    {% for cl in c %}
      {% if cl.count > 0 %}
        <h2 id="{{ cl.version }}">
          Release: <span class="bold">{{ cl.version }}</span>
        </h2>
        <a href="#top">Back to top</a>
        <p><span class="bold">{{ cl.count }}</span> Item{{ cl.count|pluralize }}</p>
        <div id="mod-list-changelog-grid">
          <div class="bold mobile-hide">Date</div>
          <div class="bold">Action</div>
          <div class="bold">Changelog note</div>
          {% for entry in cl.entries %}
            <div class="cl-date bold mobile-hide">{{ entry.date|date:"Y-m-d" }}</div>
            <div class="cl-action bold {{ entry.getkind|lower }}">{{ entry.getkind|upper }}</div>
            <div class="cl-note">{{ entry.text|safe }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <p class="bold center">This is a new mod list, so there's no changelog yet!</p>
  {% endif %}
{% endblock %}
