<div id="mod-detail">
  {% if example_mod_page %}
    <div class="alert">
      <p>This is an example mod page intended to describe in some detail what each field is for.</p>
    </div>
  {% endif %}

  <h1  class="center">
    <a href="{{ mod.get_absolute_url }}">{{ mod }}</a>{% if mod.compat == 6 %} <i class="fa fa-ban" title="This mod is currently NOT compatible with the latest OpenMW!"></i>{% endif %}
  </h1>
  {% if not mod_is_settings %}<p class="center"><i class="fa fa-question-circle"></i> <a href="{% url 'example-mod-page' %}">How To Use This Page</a></p>{% endif %}

  <div id="mod__step-info-pagination">
    {% if mod_prev %}
      <a class="button button-primary mod-detail-link" href="{% url 'mod-list-step-detail' mod_list.slug mod_prev %}" title="TIP: You can press Ctrl + Left / Right Arrow keys to navigate forward or backward through this mod list!  Keyboard navigation of mod lists unfortunately requires Javascript.  Sorry!"><i class="fa fa-caret-left"></i> Previous</a>
    {% else %}
      {% if mod_list %}
        <a class="button button-primary" href="{% url 'mod-list-detail' mod_list.slug %}">List Overview</a>
      {% endif %}
    {% endif %}

    {% if mod_list %}
      {% if modlist_is_parent %}
        <p class="center">Step #{{ listed_mod.ordernum }} in the <a class="bold" href="{% url 'mod-list-detail' mod_list.slug %}">{{ mod_list.title }}</a> list</p>
      {% else %}
        <p class="center">Step #{{ listed_mod.order_number }} in the <a class="bold" href="{% url 'mod-list-detail' mod_list.slug %}">{{ mod_list.title }}</a> list</p>
      {% endif %}
    {% endif %}

    {% if mod_next %}
      <a class="button button-primary mod-detail-link" href="{% url 'mod-list-step-detail' mod_list.slug mod_next %}" title="TIP: You can press Ctrl + Left / Right Arrow keys to navigate forward or backward through this mod list!  Keyboard navigation of mod lists unfortunately requires Javascript.  Sorry!">Next <i class="fa fa-caret-right"></i></a>
    {% elif mod_list and not mod_next and not mod_list.slug == "tes3mp-server" %}
      <a class="button button-primary" href="{% url 'mod-list-final' mod_list.slug %}">Final</a>
    {% endif %}
  </div>

  {% if mod_list or example_mod_page %}
    <div class="center">
      {% if example_mod_page %}
        <button title="This button toggles the setup status of this mod in the CFG Generator">Enable For CFG Generator</button>
        <p>Click this button when you've installed a particular mod. This enables you to get a partial config from the CFG Generator based on your progress through a list. <a href="{% url 'enable-in-cfg-generator-button' %}">See this page for more information</a>.</p>
      {% else %}
        <div class="cta">
          <button id="moddetail-customcfg" data-mod-list="{{ mod_list.slug }}" data-mod-name="{{ mod.slug }}" title="This button toggles the setup status of this mod in the CFG Generator">Enable For CFG Generator</button>
          <p><i class="fa fa-question-circle"></i> <a href="{% url 'enable-in-cfg-generator-button' %}">What is this button?</a></p>
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if not mod_list and mod.category.slug != "tools" and mod.category.slug != "settings" and mod.category.slug != "first-steps" and not mod.url|slice:":26" == "https://www.nexusmods.com/" and not example_mod_page %}
    <div class="center">
      <a class="button button-primary" href="momw://{{ request.get_host }}{% url 'mod_detail' mod.slug %}json">Install with umo</a>
    </div>
  {% elif example_mod_page %}
    <div class="center">
      <a class="button button-primary">Install with umo</a>
      <p>Click this button to install a mod to your "custom" umo mod list.</p>
    </div>
  {% endif %}

  {% if mod.picture %}
    <div class="key">Picture:</div>
    <div class="val">{{ mod.picture }}</div>
  {% endif %}

  <div class="mod-detail-grid">
    <div class="key">Author:</div>
    <div class="val">{{ mod.author|safe }}</div>
    <div class="key">Description:</div>
    <div class="val">{{ mod.description|safe }}</div>

    {% if not mod_is_settings and not mod_is_first_steps %}
      <div class="key"><span id="download">Download Link</span></div>

      {% if mod.dl_url %}
        <div class="val"><a href="{{ mod.dl_url }}">{{ mod.dl_item }}</a>{% if not "http" in mod.dl_url %} (<a href="{{ mod.dl_url }}.sha256sum.txt">sha256sum</a>) (<a href="{{ mod.dl_url }}.sha512sum.txt">sha512sum</a>){% endif %}{% if example_mod_page %} (This field contains a link to download this mod.){% endif %}</div>
      {% else %}
        <div class="val"><a href="{{ mod.url }}">{{ mod.url }}</a></div>
      {% endif %}
    {% endif %}

    {% if not mod_list %}
      <div class="key">OpenMW Compatibility:</div>
      <div class="val">{{ mod.compat_link|safe }}{% if mod.compat == 6 %} <i class="fa fa-ban" title="This mod is currently NOT compatible with the latest OpenMW!"></i>{% elif mod.compat == 7 %}: This mod's compatibility is unknown - <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues">submit feedback</a>.{% endif %}</div>
    {% endif %}
  </div>

  <h2 id="usage-info"><a href="#usage-info">Mod Installation/Setup Info</a></h2>
  {% if lm_set_count > 0 and not mod_list %}
    <p class="bold">
      Note: This page does not contain information specific to any mod list. In order to see mod list specific information use one of the mod list links listed below where it says "Featured in Mod Lists".
    </p>
  {% endif %}

  <p>
    Did you find any inaccurate information below? Please let us know by <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues/new">opening an issue on GitLab</a> or <a href="https://discord.gg/KYKEUxFUsZ">joining our Discord</a>!
  </p>
  <div class="mod-detail-grid">
    {% if data_paths and not mod_is_settings and not mod_is_first_steps %}
      <div class="key">Data path{{ data_paths|pluralize }}:</div>
      <div class="val">
        {% if example_mod_page %}This field will list each data path you need for this particular mod. The listing will vary depending on what mod list you're viewing this on, if at all.{% endif %}
        <pre><code class="basedir-setup" id="data-paths">{% for p in data_paths %}{{ p }}
{% endfor %}</code></pre>
        {% if example_mod_page %}If you are using a mod list the <a href="{% url 'cfg_generator' %}">CFG Generator</a> will provide you with the <code>data=</code> output tailored to your mod list that you can copy into your clipboard and paste into your config files manually, or to use as a reference if you're using a mod manager.{% endif %}
      </div>
    {% endif %}

    {% if needs_cleaning %}
      <div class="key">Plugin{{ plugins|pluralize }} Need{{ plugins|pluralize:"s," }} Cleaning:</div>
      <div class="val"><a href="{% url 'tips-cleaning' %}">Yes</a>{% if example_mod_page %} (This field will indicate when a plugin is dirty and should be cleaned. These mods will not be auto-cleaned by <a href="{% url 'mod_detail' slug='delta-plugin' %}">DeltaPlugin</a>){% endif %}</div>
    {% endif %}

    {% if usage_notes %}
      <div class="key">Usage Notes:</div>
      <div class="val">
        {% for note in usage_notes %}
          {% if mod_list %}
            {{ note.text|safe }}
          {% else %}
            {{ note.generic|safe }}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if bsas %}
      <div class="key">Fallback Archive{{ bsas|pluralize }} (BSA):</div>
      <div class="val">
        {% if example_mod_page %}This field will list each fallback-archive (also known as BSAs) this mod comes with that need to <a href = "{% url 'tips-register-bsas' %}">be registered</a>. Note that the suggested loadout may vary depending on what mod list you're viewing this on, if at all.{% endif %}
        <pre><code>{% for b in bsas %}{{ b.file_name }}
{% endfor %}</code></pre>
      </div>
    {% endif %}

    {% if plugins %}
      <div class="key">Content Plugin{{ plugins|pluralize }}:</div>
      <div class="val">
        {% if example_mod_page %}This field will list each content plugin this mod comes with that needs to be enabled. Note that the suggested loadout may vary depending on what mod list you're viewing this on, if at all.{% endif %}
        <pre><code>{% for p in plugins %}{{ p.filename }}
{% endfor %}</code></pre>
        {% if example_mod_page %}If you are using a mod list the <a href="{% url 'cfg_generator' %}">CFG Generator</a> will provide you with the <code>content=</code> output tailored to your mod list that you can copy into your clipboard and paste into your config files manually, or to use as a reference if you're using a mod manager.{% endif %}
      </div>
    {% endif %}

    {% if groundcover %}
    <div class="key">Groundcover Plugin{{ groundcover|pluralize }}:</div>
    <div class="val">
      {% if example_mod_page %}This field will list each groundcover plugin this mod comes with that needs to be enabled. Note that the suggested loadout may vary depending on what mod list you're viewing this on, if at all.{% endif %}
      <pre><code>{% for g in groundcover %}{{ g.file_name }}
{% endfor %}</code></pre>
      {% if example_mod_page %}If you are using a mod list the <a href="{% url 'cfg_generator' %}">CFG Generator</a> will provide you with the <code>groundcover=</code> output tailored to your mod list that you can copy into your clipboard and paste into your config files manually, or to use as a reference if you're using a mod manager.{% endif %}
    </div>
    {% endif %}

    {% if extra_cfg %}
      <div class="key">Extra Configs:</div>
      <div class="val">
        {% for ec in extra_cfg %}
          These values need to be added to <code>{% if ec.in_settings %}settings{% else %}openmw{% endif %}.cfg</code> (be sure to consult <a href="{% url 'cfg_generator' %}">the CFG Generator</a> for a complete readout of all required settings):
          {% if ec.text|length < 100 %}
            <pre><code>{{ ec.text }}</code></pre>
          {% else %}
            <details>
              <summary>Click to hide or show:</summary>
              <pre><code>{{ ec.text }}</code></pre>
            </details>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {% if mod_prev or mod_next %}
    <div id="modlist-pagination" class="center">
      {% if mod_prev %}
        <a class="mod-detail-link" href="{% url 'mod-list-step-detail' mod_list.slug mod_prev %}"><i class="fa fa-chevron-left pag-icon" aria-hidden="true"></i> Prev</a>
      {% endif %}

      {% for num in pag_range %}
        {% if modlist_is_parent %}
          {% if listed_mod.ordernum == num %}
            <span class="bold paginate-num">{{ num }}</span>
          {% else %}
            <a class="mod-detail-link" href="{% url 'mod-list-step-detail' mod_list.slug num %}">{{ num }}</a>
          {% endif %}

        {% else %}
          {% if listed_mod.order_number == num %}
            <span class="bold paginate-num">{{ num }}</span>
          {% else %}
            <a class="mod-detail-link" href="{% url 'mod-list-step-detail' mod_list.slug num %}">{{ num }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if show_final %}
        <a href="{% url 'mod-list-final' mod_list.slug %}">Final</a>
      {% endif %}

      {% if mod_next %}
        <a class="mod-detail-link" href="{% url 'mod-list-step-detail' mod_list.slug mod_next %}">Next <i class="fa fa-chevron-right pag-icon" aria-hidden="true"></i></a>
      {% endif %}
    </div>
  {% endif %}

  <div id="mod__momw-metadata">
    <h2>MOMW Metadata</h2>
    {% if mod.date_updated != mod.date_added %}
      <p><b>Last Updated</b>: {{ mod.date_updated|date:"Y-m-d" }}{% if example_mod_page %}The date this mod's record on our website was last updated, not necessarily the date the mod itself was last updated.{% endif %}</p>
    {% endif %}
    <p><b><a href="{% url 'mod_categories' %}">Category</a></b>: <span class="mod__badge"><a href="{% url 'mod_category_detail' mod.category.slug %}"><i class="fa fa-folder"></i> {{ mod.category }}</a></span> {% if example_mod_page %}(The category this mod belongs to.){% endif %}</p>

    {% if example_mod_page or mod.tags.count > 0 and not hide_tags == True %}
    <p>
      <b><a href="{% url 'mod_tags' %}">Tags</a></b>:
      {% for t in mod.tags.all %}
        <span class="mod__badge"><a href="{% url 'mod_tag_detail' slug=t.slug %}"><i class="fa fa-tag"></i> {{ t }}</a></span>
      {% endfor %}
      {% if example_mod_page %}Tags group like mods with similar traits e.g., OpenMW Lua mods, or mods that need manual editing, and so forth.{% endif %}
    </p>
    {% endif %}

    {% if lm_set_count > 0 %}
      <p><b>Featured in <a href="{% url 'mod-lists' %}">Mod Lists</a></b>: {% for l in lm_set %}{% if not l.is_wip %}<a href="{% url 'mod-list-detail' l.get_slug %}">{{ l.get_modlist_name }}</a> (<a class="mod-detail-link" href="{% url 'mod-list-step-detail' l.get_slug l.ordernum %}">#{{ l.ordernum }}</a>){% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}{% if example_mod_page %}The mod lists this mod is included on and the step number of each list with links.{% endif %}</p>
    {% endif %}

    {% if mod.alt_to.all or example_mod_page %}
      <p><b>Alternative{{ mod.alt_to.all|pluralize }}</b>: {% for alt in mod.alt_to.all %}<a href="{{ alt.get_absolute_url }}">{{ alt }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% if example_mod_page %}Mods that could be considered alternatives to the current mod. Compatibility with mod lists is not guaranteed and using these is generally not recommended.{% endif %}</p>
    {% endif %}
  </div>
</div>

{% if mod_list %}
  <!-- For keyboard navigation -->
  <div id="modlist" data-modlist="{{ mod_list.slug }}"></div>
  {% if modlist_is_parent %}
    <div id="listnum" data-listnum="{{ listed_mod.ordernum }}"></div>
  {% else %}
    <div id="listnum" data-listnum="{{ listed_mod.order_number }}"></div>
  {% endif %}
  <div id="next" data-next="{{ mod_next }}"></div>
  <div id="prev" data-prev="{{ mod_prev }}"></div>
  <div></div>
{% endif %}
