{% extends 'base.html' %}
{% block meta %}
  <meta property="og:site_name" content="Modding-OpenMW.com" />
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ mod.get_absolute_url }}">
  <meta property="og:title" content="{{ mod }}{% if mod_list %} - {{ mod_list.title }}{% endif %}">
  <meta property="og:description" content="{{ mod.description }}">
  <meta property="og:image" content="https://modding-openmw.com/favicon.png">
{% endblock %}
{% block title %}{{ mod }}{% endblock %}
{% block content %}
  {% include 'mod_snippet.html' with mod=mod mod_list=mod_list %}
{% endblock %}

{% block lower_js %}
  {% if DEBUG %}
    {% load static %}
    <script src="{% static 'js/custom-cfg-mod-detail.js' %}"></script>
    {% if mod.slug == "openmw-appimage" %}
      <script src="{% static 'js/appimage-info.js' %}"></script>
    {% endif %}
    {% if mod_list %}
      <script src="{% static 'js/kbd-nav.js' %}"></script>
    {% endif %}
  {% else %}
    <script src="/js/custom-cfg-mod-detail.js"></script>
    {% if mod.slug == "openmw-appimage" %}
      <script src="/js/appimage-info.js"></script>
    {% endif %}
    {% if mod_list %}
      <script src="/js/kbd-nav.js"></script>
    {% endif %}
  {% endif %}
{% endblock %}
