{% extends "base.html" %}

{% block meta %}
  <meta property="og:site_name" content="Modding-OpenMW.com" />
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ mod_list.get_absolute_url }}">
  <meta property="og:title" content="{{ mod_list }}">
  <meta property="og:description" content="{{ mod_list.short_description }}">
  <meta property="og:image" content="https://modding-openmw.com/favicon.png">
{% endblock %}

{% block title %}{{ mod_list.title }}{% endblock %}

{% block content %}
  <h1><b>{{ mod_list.title }}</b> Mod List</h1>
  <h4><span class="bold">{{ modlist_mod_count }}</span> {% if mod_list.title == "TES3MP Server" %}scripts{% else %}mod{{ modlist_mod_count|pluralize }}{% endif %}</h4>

  <p>{{ mod_list.description|safe }}</p>

  {% if mod_list.parent_list %}
    <p>
      This mod list is a sub-list of <a href="{{ mod_list.parent_list.get_absolute_url }}">{{ mod_list.parent_list.title }}</a>. Please refer to the <a href="{{ mod_list.parent_list.get_absolute_url }}">main mod list page</a> for instructions.</p>
  {% endif %}

  {% if modlist_is_parent or not mod_list.parent_list %}
    <p class="center">
      <a class="button button-primary" href="{% url 'mod-list-changelog' slug=mod_list.slug %}" title="This button takes you to the change log for this mod list..">
        View list changelog
      </a>

      {# TODO: make the issue label link a mod list attribute to dehardcode this and make it available for all mod lists #}
      {% if mod_list.title == "Total Overhaul" %}
        <a class="button button-primary" href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues/?label_name%5B%5D=Total%20Overhaul" title='Known issues for the "{{ mod_list.title }}" mod list.'>
          Known Issues
        </a>
      {% endif %}
    </p>
  {% endif %}
  <p class="center">
    <a class="button button-primary mod-detail-link" href="{% url 'mod-list-step-detail' mod_list.slug 1 %}" title="Go through this list one mod at a time.">
      Start This List
    </a>
  </p>

  {% if modlist_is_parent %}

    <h4 id="toc"><a href="#toc">Table of Contents</a></h4>
    <p>This mod list is divided into sublists, the table of contents below has a link to each one.</p>
    <div id="mod-list-toc">
      <ul>
        {% for sublist in listed_mods.keys %}
          <li><a href="#{{ sublist.slug }}">{{ sublist.str_no_parent_title }}</a></li>
        {% endfor %}
      </ul>
    </div>

    {% for sublist, modset in listed_mods.items %}
      <h4 id="{{ sublist.slug }}" class="bold"><a href="#{{ sublist.slug }}">{{ sublist.str_no_parent_title }}</a></h4>
      <a class="button button-primary" href="{% url 'mod-list-detail' slug=sublist.slug %}" title="View just this sublist">
        View This Sublist
      </a>
      <p>{{ sublist.description }}</p>
      {% include 'listed_mod_table.html' with listed_mods=modset is_parent=modlist_is_parent %}
    {% endfor %}

  {% else %}
    {% include 'listed_mod_table.html' with listed_mods=listed_mods %}
  {% endif %}

  {% if modlist_is_parent %}
    <p>Proceed to the "<a href="{% url 'mod-list-final' mod_list.slug %}">Final Steps</a>".</p>
  {% endif %}
{% endblock %}
