{% extends 'base.html' %}
{% block title %}Mods Not Requiring A Plugin{% endblock %}
{% block content %}
  <div class="center">
    <h3 class="center">Mods With No Plugin</h3>
    <div><p>Below are <span class="bold">{{ mods.count }}</span> mods that do not require a plugin file (<code>.esp</code>, <code>.omwaddon</code>, or otherwise).</p></div>
    <p>
      <p class="center">
        {% include 'mods-nav.html' with cur_page="no_plugin" %}
      </p>

    </p>
    {% include 'mod_table.html' with mods=mods show_category=True %}
  </div>
{% endblock %}
