{% extends 'base.html' %}
{% block meta %}
  <meta property="og:site_name" content="Modding-OpenMW.com" />
  <meta property="og:type" content="website">
  <meta property="og:url" content="{% url 'user_settings' %}">
  <meta property="og:title" content="Site Settings">
  <meta property="og:description" content="Settings for your Modding-OpenMW.com experience.">
  <meta property="og:image" content="https://modding-openmw.com/favicon.png">
{% endblock %}
{% block title %}Site Settings{% endblock %}
{% block content %}
  <div>
    <noscript>
      <p class="bold">
        Note: This page requires javascript to function!
      </p>
    </noscript>

    <h3 class="bold center">Site Settings</h3>
    <p class="center">
      Settings for your Modding-OpenMW.com experience.
    </p>

    <h3>Set Your Base Folder</h3>
    <p>
      Your "base folder" is the one where all your mods will be put into. Enter the folder path you're using in the box below and click the "Set" botton or press Enter. Submit a blank input box to clear your saved value.
    </p>
    <input type="text" id="basedir" name="basedir" placeholder="{% if visitor_os == 'windows' %}F:\Morrowind\Mods{% elif visitor_os == 'macos' %}/Users/YourUser/Games/Morrowind/Mods{% elif visitor_os == 'linux' %}/home/yourUser/games/mwmods{% endif %}" />
    <p><button id="set-basedir" title="Click this to ........">Set</button> Current base dir: <span class="bold" id="current">None</span></p>

    <div class="line" style="margin-top: 14px;"></div>

    <h3>Set Your Morrowind Data Files Folder Path</h3>
    <p>
      Your "Morrowind Data Files folder path" is the path to the "Data Files" folder inside of your Morrowind install. Enter the folder path you're using in the box below and click the "Set" botton or press Enter. Submit a blank input box to clear your saved value.
    </p>
    <input type="text" id="mwdir" name="mwdir" placeholder="{% if visitor_os == 'windows' %}C:\games\Morrowind\{% elif visitor_os == 'macos' %}/Users/YourUser/Games/Morrowind/{% elif visitor_os == 'linux' %}/home/yourUser/games/Morrowind/{% endif %}Data Files" />
    <p><button id="set-mwdir" title="Click this to ........">Set</button> Current Morrowind Data Files path: <span class="bold" id="currentMwDir">None</span></p>

    <div class="line" style="margin-top: 14px;"></div>

    <h3>Opt Into Dev Build Mods and Options</h3>
    <input type="checkbox" id="yesdev" name="yesdev" />
    <label for="yesdev"> Check this to use dev build options for any mod that has them</label>

    <p>
      This setting will affect the CFG Generator and mod detail pages in the following ways:
    </p>

    <ul>
      <li>Select any dev build-specific options a mod may have if the mod itself isn't dev build only itself.</li>
      <li>Unselect any option a mod may have that should not be used with dev builds.</li>
      <li>Include any mods that are dev build only in mod list presets.</li>
    </ul>

    <div class="line" style="margin-top: 14px;"></div>

    <!--h3>Opt Into Ultimate Quality</h3>
    <input type="checkbox" id="ultq" name="ultq" />
    <label for="ultq"> Check this to opt into Ultimate Quality options.</label>

    <p>
	  Turning this feature on is <span class="bold">not recommended</span> unless you have a very powerful computer. Even so, expect degraded performance in exchange for higher graphical fidelity. Here are the bare minimum hardware specs we recommend for opting into this feature.
	<p>

    <ul>
	  <li>CPU: AMD Ryzen 5 7600X/Intel Core i5-13400 or greater</li>
	  <li>GPU: Nvidia RTX 2080/AMD RX 6600XT or greater</li>
	  <li>Storage: 170GB+ extra space for a full Total Overhaul install</li>
	  <li>RAM: 16GB+ of fast memory</li>
	</ul>

    <p>
      This setting will alter your mod list in the following ways:
    </p>

    <ul>
      <li>Added mods featuring higher quality models, if you have capable hardware.</li>
      <li>Added mods featuring higher quality textures and normal maps, if you have enough storage space.</li>
      <li>Alternative recommended OpenMW settings for computers with abundant resources.</li>
    </ul>

    <div class="line" style="margin-top: 14px;"></div-->

    <h3>Theme Selector</h3>
    <button id="toggle-theme" title="Click this to toggle between dark and light themes">Current Theme: light</button>

    <div class="line" style="margin-top: 14px;"></div>

    <h3>Clear Site Data</h3>

    <p>
      Click this button if you're having trouble with the CFG Generator and custom paths. <span class="bold">WARNING!!!!</span> This is not reversible!
    </p>

    <button id="clear-data" title="Click this to clear all of your site data">Clear My Data (NOT REVERSIBLE!!)</button>

    {# TODO: save/load config'd mod list #}
  </div>
{% endblock %}
{% block lower_js %}
  {% if DEBUG %}
    {% load static %}
    <script src="{% static 'js/clear-settings.js' %}"></script>
  {% else %}
    <script src="/js/clear-settings.js"></script>
  {% endif %}
{% endblock %}
