{% extends 'base.html' %}
{% block title %}Mod Tags{% endblock %}
{% block content %}

  <h4 class="center">Tags</h4>

  <p class="center">
    {% include 'mods-nav.html' with cur_page="mod_tags" %}
  </p>

  <table class="u-full-width">
    <thead>
      <tr>
        <th>Tag Name</th>
        <th>Mod Count</th>
        <th class="mobile-hide">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for t in tags %}
        <tr>
          <td><a class="bold" href="{{ t.get_absolute_url }}">{{ t }}</a></td>
          <td>{{ t.momw_taggedmod_items.count }}</td>
          <td class="mobile-hide">{{ t.description|safe }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
