{% extends 'base.html' %}
{% block title %}Tips: Atlased Meshes And Textures{% endblock %}
{% block content %}

  <h3 class="center">Tips: <span class="bold">Atlased Meshes And Textures</span></h3>

  {% include "tips-nav.html" with cur_page="tips-atlased-meshes" %}

  <p>Atlased meshes and textures in Morrowind are an idea pioneered by the <a href="https://www.nexusmods.com/morrowind/mods/45399">Project Atlas Team</a>, which includes many longtime content creators.  The description on <a href="https://www.nexusmods.com/morrowind/mods/45399">their mod page</a> describes the purpose well:</p>

  <blockquote>
    <p>"Vanilla Morrowind has objects split into different shapes each using its own unique texture. This is bad for performance and is one of the game's primary FPS bottlenecks. Each shape (even within a single mesh file) requires its own drawcall. There are close to 5,000 different textures in Morrowind's data; many of which are very similar or outright identical and some meshes are split into more than 75 different shapes. Merging those meshes into a single shape which references a single texture atlas is the ideal situation for game performance."</p>

    <p>"The goal of Project Atlas is to identify the most performance heavy areas of vanilla Morrowind and some popular mods and target high usage/strain meshes in those areas for atlasing. This effort involves reworking the UVs for those meshes and creating texture atlases to cover various sets."</p>
  </blockquote>

  <p>There are a few mods that support atlasing, and offer <a href="/mods/tag/atlased-textures/">atlased variants</a>, though not all that support it include the required files.  To this end, the Project Atlas Team provides batch scripts that you can use to convert textures yourself. <span>WARNING: The following process involves using the command line</span>.  To use the conversion script:</p>

  <ol>
    <li>Copy the related script into the desired mod's folder (e.g. <code>hlaalu_atlas_generator.bat</code> in this case)</li>
    <li>Double click the .bat file, it should open a command prompt window and start doing things</li>
    <li>When everything is finished, you should have a folder called <code>ATL</code> with a file called <code>tx_hlaalu_atlas.dds</code> inside.  The name of this file will depend on what texture set you're working with as well as the script you are using</li>
  </ol>

  <p>Those of you that are Linux or macOS users -- worry not!  I've created the <a href="/mods/project-atlas-scripts/">Project Atlas Scripts</a>, which is a collection of bash scripts that should not only run on your OS but also possibly on the new Windows Subsystem For Linux.  I'd love to hear if someone does this!</p>

  <p>The process is more or less the same, and is described step-by-step <a href="https://github.com/hristoast/project-atlas-scripts/blob/master/README.md#usage">on this page</a>.  Do note that ImageMagick is required, so ensure you install that before trying to use these.</p>

  {% include "tips-nav.html" with cur_page="tips-atlased-meshes" %}
{% endblock %}
