{% extends 'base.html' %}
{% block title %}Tips: Portable Install{% endblock %}
{% block content %}

  <h3 class="center">Tips: <span class="bold">Portable Install</span></h3>

  {% include "tips-nav.html" with cur_page="tips-portable-install" %}

  <p>
    Portable installations allow one to easily run one or more of our mod lists out of separate folders using a single installation of OpenMW itself. Below we will demonstrate running two mod lists out of portable installation directories but it's entirely possible to install and run every mod list on our site in this way.
  </p>

  <h3>Table Of Contents</h3>

  <ul>
    <li><a href="#install">Install Mod Lists</a></li>
    <li><a href="#configurate">Configurate Mod Lists</a></li>
    <li><a href="#run">Run Mod Lists With MOMW Configurator</a></li>
    <li><a href="#test">Run Mod Lists In Testing Mode</a></li>
  </ul>

  <h3 id="install"><a href="#install">Install Mod Lists</a></h3>

  <p>
    First, install one or more mod lists using umo (as described in <a href="{% url 'guides-auto' %}">our Automatic Installation Guide</a>):
  </p>

  <pre><code># Install all mods for Just Good Morrowind
umo cache sync just-good-morrowind
umo install just-good-morrowind

# Install all mods for Total Overhaul
umo cache sync total-overhaul
umo install total-overhaul</code></pre>

  <h3 id="configurate"><a href="#configurate">Configurate Mod Lists</a></h3>

  <p>
    Next, use MOMW Configurator to generate the appropriate configurations for each list into a portable directory:
  </p>

  <pre><code># Generate configs for Just Good Morrowind
momw-configurator config just-good-morrowind --portable-dir C:\games\MOMWLists\just-good-morrowind --run-navmeshtool --run-validator

# Generate configs for Total Overhaul
momw-configurator config total-overhaul --portable-dir C:\games\MOMWLists\total-overhaul --run-navmeshtool --run-validator</code></pre>

  <h3 id="run"><a href="#run">Run Mod Lists With MOMW Configurator</a></h3>

  <p>
    Now you're all set to run OpenMW out of the portable directory you just set up:
  </p>

  <pre><code># Run Just Good Morrowind
momw-configurator run just-good-morrowind C:\games\MOMWLists\just-good-morrowind

# Run Total Overhaul
momw-configurator run total-overhaul C:\games\MOMWLists\total-overhaul</code></pre>

  <h3 id="test"><a href="#test">Run Mod Lists In Testing Mode</a></h3>

  <p>
    You may also run OpenMW in testing mod by adding the <code>--test</code> argument as seen below:
  </p>

  <pre><code># Run Just Good Morrowind in testing mode
momw-configurator run just-good-morrowind C:\games\MOMWLists\just-good-morrowind --test

# Run Total Overhaul in testing mode
momw-configurator run total-overhaul C:\games\MOMWLists\total-overhaul --test</code></pre>

  <p>
    You can also pass the <code>--script</code> argument, which requires a path to a MWScript file (for example <a href="{% url 'mod_detail' slug='test-script-lite' %}">Test Script Lite</a>), that will be executed during testing mode. Also available is the <code>--cell</code> argument which requires a cell name value, this will spawn you into the given cell. Please note that cell names with spaces in them need to be quoted e.g., <code>"Balmora, Guild of Mages"</code>
  </p>

  <p>
    Run <code>momw-configurator run --help</code> for a detailed explanation of all arguments.
  </p>

  <h3>Portable Installation Usage Instructions</h3>

  <p>
    Below is the information that used to be on this page before the above guide was written. It's kept here in case it might be useful for people seeking to know how the feature works at the engine-level.
  </p>

  <p>
    OpenMW 0.48 added the ability for a "portable install"; that is: one where all the cfg files and related things that normally live amid your user documents instead live in a separate folder of your choosing.
  </p>

  <p>
    This can be handy for playing with total conversion mods such as Arktwend or <a href="/mods/starwind-v3-a-star-wars-conversion/">Starwind</a>, where you may want to keep these files separated from your normal files for playing Morrowind.
  </p>

  <p>
    To use this feature, create a launcher for OpenMW with a couple of specific arguments as follows:
  </p>

  <pre><code># Linux/macOS
openmw --replace=config --config ~/games/StarwindCfg --user-data ~/games/StarwindCfg

# Windows
openmw.exe --replace=config --config C:\games\StarwindCfg --user-data C:\games\StarwindCfg</code></pre>

  <p>
    In order for the game to launch, you need valid <code>openmw.cfg</code> and <code>settings.cfg</code> files in the folder you specify. You could copy those from the normal location and then edit them as needed.
  </p>

  <p>
    This specific example is for Starwind, but you can name the destination folder anything you want.
  </p>

  <p>
    Alternatively, you may just want all of OpenMW's extra files, including saves and screenshots, to be in a separate folder of your own choosing. You can choose any directory you would like, but for this example we will create a <code>config</code> folder inside the root directory of your OpenMW installation and tell OpenMW to use that directory instead.
  </p>

  <p>
    In the global <code>openmw.cfg</code> file, that is the one which is in the root directory of your OpenMW installation, do the following:
	<ol>
	  <li>Replace <code>"?userdata?data"</code> with <code>"config\data"</code>.</li>
	  <li>Replace <code>"?userdata?"</code> with <code>"config"</code>.</li>
	  <li>Replace <code>"?userconfig?"</code> with <code>"config"</code>.</li>
	  <li>Copy the contents inside the default <a href="https://openmw.readthedocs.io/en/stable/reference/modding/paths.html">configuration folder</a> into the <code>config</code> folder.</li>
	</ol>
  </p>

  <p>
    Since we are using a path that's in OpenMW's root directory we can take a shortcut and just give OpenMW the folder name itself, but for more complex paths you can instead give OpenMW an exact folder path, such as <code>"D:\OpenMW 0.49\config"</code>.
  </p>

  {% include "tips-nav.html" with cur_page="tips-portable-install" %}
{% endblock %}
