{% extends 'base.html' %}
{% block title %}Tips: Cleaning Plugins With TES3CMD{% endblock %}
{% block content %}

  <h2 class="center">Tips: <span class="bold">Cleaning Plugins With TES3CMD</span></h2>

  {% include "tips-nav.html" with cur_page="tips-cleaning" %}

  <h3>Table of contents</h3>

  <ul>
    <li><a href="#why-clean">What's an Evil GMST and why do I need to "clean" dirty plugins?</a></li>
    <li><a href="#guide-clean-windows">How to clean a plugin on Windows using Powershell</a></li>
	<li><a href="#guide-clean-mo2">How to clean a plugin on Windows using Mod Organizer 2</a></li>
    <li><a href="#guide-clean-unix">How to clean a plugin on Linux or MacOS</a></li>
    <li><a href="#extra-links">Further Reading</a></li>
	<li><a href="#legacy-info">Legacy Information</a></li>
  </ul>

  <h4 id="why-clean"><a href="#why-clean">What's an "Evil GMST" and why do I need to "clean" dirty plugins?</a></h4>
  <p>Game Setting (GMST) records can be anything from numerical values for armor and weapons to the names of skills or spells and much more. There is a phenomenon with the vanilla TES Construction Set where mod plugins that are saved without loading the Morrowind expansion master plugins (ie: Tribunal.esm, Bloodmoon.esm) into the Construction Set will result in some GMST records becoming contaminated. These contaminated records are called Evil GMSTs and plugins contaminated with Evil GMSTs are called "dirty" plugins.</p>

  <p>Evil GMSTs manifest in the form of corrupted or incorrect data in-game and will negatively impact your experience with the game when you encounter them. For the most seamless experience when combining many mods it is important that we clean these dirty plugins.</p>

  <p>With the exception of Evil GMSTs, <a href="{% url 'mod_detail' slug='delta-plugin' %}">DeltaPlugin</a> will automatically clean all kinds of dirty records with its merged plugin output. The only dirty plugins this website will advise you to clean are those with Evil GMSTs.</p>

  <p>The <a href="/mods/tes3cmd/">tes3cmd</a> utility was created to, among many other things, clean plugins of these undesired changes.</p>

  <h4 id="guide-clean-windows"><a href="#guide-clean-windows">How to clean a plugin on Windows using Powershell</a></h4>
  <ol>
    <li>Download <a href="/mods/tes3cmd/">tes3cmd</a> and extract <code>tes3cmd.exe</code> to your vanilla <code>Morrowind\Data Files</code> folder.</li>
    <li>Copy the plugin you want to clean into the vanilla <code>Morrowind\Data Files</code> folder along with any master plugins required by the mod you want to clean (If you are unsure just run the command below and tes3cmd will warn you about requirements).</li>
	<li>Before you run the commands below, replace <code>C:\Path\To\Morrowind\Data Files</code> to reflect your own folder structure and <code>ModToClean.esp</code> with the file name of the mod you want to clean.</li>
	<li>Open Windows Powershell and type the following commands:</li>

    <pre><code>cd "C:\path\to\Morrowind\Data Files"
.\tes3cmd clean "ModToClean.esp"</code></pre>

	<p>If you're unfamiliar with the commands and want an explanation, the <code>cd</code> command changes the directory you are running commands in and then we run the <code>tes3cmd</code> executable with the <code>clean</code> option on the mod you want to clean.</p>

    <li>Pay attention to the tes3cmd output. It will let you know if anything went wrong, and will also give you a summary of what was cleaned. If it told you it was trying to locate a master plugin make sure to also copy that plugin into your vanilla <code>Morrowind\Data Files</code> directory and run the command once more.</li>
	<li>Replace the original dirty plugin from your mods folder with the <code>Clean_</code> version tes3cmd produced.</li>
	<li>Finally, remove any leftover files in your vanilla <code>Morrowind\Data Files</code> folder including any dirty plugins, cleaned plugins, or requirement files. Feel free to back these up in a separate folder.</li>
  </ol>

  <h4 id="guide-clean-mo2"><a href="#guide-clean-mo2">How to clean a plugin on Windows using Mod Organizer 2</a></h4>
  <span class="bold">Note: The <a href="#guide-clean-windows">instructions above using Powershell</a> work just fine if you are using MO2. These instructions are for those who would rather use a user interface for cleaning mods, but requires a little more setup.</span>
  <ol>
    <li>Download <a href="/mods/tes3cmd/">tes3cmd</a> and extract <code>tes3cmd.exe</code> to your vanilla <code>Morrowind\Data Files</code> folder.</li>
	<li>Download and install <a href="https://www.nexusmods.com/morrowind/mods/45439">Wrye Mash</a> to your vanilla <code>Morrowind</code> folder. Use the <code>Wrye Mash 2019 x64 - Installer</code> file.</li>
	<li>Run Wrye Mash and it will prompt you to provide the vanilla Morrowind folder, the folder you have your mods installed to through MO2, and optionally the directory for mlox if you're using that program.</li>
	<li>In MO2 click the green and blue gears icon to <code>Modify Executables</code>. Click the blue plus button to add a new executable from a file, and navigate and select the <code>mash64.exe</code> file in the <code>Mopy</code> folder and title it <code>Wrye Mash</code>. Now, in the drop-down menu next to the big <code>Run</code> button you should be able to run Wrye Mash from MO2.</li>
	<li>Run Wrye Mash and make sure tes3cmd is detected by clicking the gear icon at the bottom left and click the <code>Paths</code> tab. It should say <code>Detected!</code> in blue text if it is found.</li>
	<li>In Wrye Mash on the <code>Mods</code> tab you should now be able to right-click your plugins and use the option <code>Clean with tes3cmd</code> in the context menu.</li>
  </ol>

  <h4 id="guide-clean-unix"><a href="#guide-clean-unix">How to clean a plugin on Linux or MacOS</a></h4>
  <ol>
    <li>Download <a href="/mods/tes3cmd/">tes3cmd</a> and extract <code>tes3cmd</code> to your vanilla <code>Morrowind/Data Files</code> folder.</li>
    <li>Copy the plugin you want to clean into the vanilla <code>Morrowind/Data Files</code> folder along with any master plugins required by the mod you want to clean (If you are unsure just run the commands below and tes3cmd will warn you about requirements).</li>
	<li>Before you run the commands below replace <code>/path/to/Morrowind/Data Files</code> to reflect your own folder structure and <code>ModToClean.esp</code> with the file name of the mod you want to clean.</li>
	<li>Open a Terminal window and type the following commands:</li>

    <pre><code>cd "/path/to/Morrowind/Data Files"
tes3cmd clean "ModToClean.esp"</code></pre>

    <p>If you're unfamiliar with the commands and want an explanation, the <code>cd</code> command changes the directory you are running commands in and then we run the <code>tes3cmd</code> executable with the <code>clean</code> option on the mod you want to clean.</p>

    <li>Pay attention to the tes3cmd output. It will let you know if anything went wrong, and will also give you a summary of what was cleaned. If it told you it was trying to locate a master plugin make sure to also copy that plugin into your vanilla <code>Morrowind/Data Files</code> directory and run the commands once more.</li>
	<li>Replace the original dirty plugin from your mods folder with the <code>Clean_</code> version tes3cmd produced.</li>
	<li>Finally, remove any leftover files in your vanilla <code>Morrowind/Data Files</code> folder including any dirty plugins, cleaned plugins, or requirement files. Feel free to back these up in a separate folder.</li>
  </ol>

  <h4 id="extra-links"><a href="#extra-links">Further Reading</a></h4>

  <p>Please see the below pages as a more detailed reference on the topic of plugin cleaning:</p>
  <ul>
	<li><a href="https://www.mwmythicmods.com/argent/tech/gmst.html">Argent's GMST Explanation</a></li>
    <li><a href="https://r-fuzzo.gitbook.io/morrowind++/setup/tools#tes3cmd">Morrowind++ Tools Guide</a></li>
    <li><a href="https://en.uesp.net/wiki/Tes3Mod:GMST_Contamination">UESP: Tes3Mod:GMST_Contamination</a></li>
    <li><a href="https://en.uesp.net/wiki/Tes3Mod:Cleaning Mods">UESP: Tes3Mod:Cleaning Mods</a></li>
    <li><a href="https://old.reddit.com/r/tes3mods/comments/kjgu0d/unable_to_launch_tes3cmdexe/ggwkkx6/">A reddit post about using <code>tes3cmd.exe</code> with MO2 on Windows</a></li>
  </ul>

  <h4 id="legacy-info"><a href="#legacy-info">Legacy Information</a></h4>

<details>
  <summary>
    <p>Below is the legacy information about plugin cleaning, click to this line to expand it.</p>
  </summary>

  <p class="bold">NOTE: Not all plugins require cleaning, despite TES3CMD finding things to clean!  Please consult the documentation for any mod that you are unsure about cleaning.</p>

  <p>In my own quest to clean dirty plugins, I wrote a bash script to automate the process.  Below is a bash script that can be used on any unix-like OS to clean known dirty mods, all in one swoop (it assumes <code>tes3cmd</code> is available in your <code>$PATH</code>).</p>

  <p>Before you can run the script, you must have:</p>

  <ol>
    <li>A working install of vanilla Morrowind.</li>
    <li>Copies of each plugin you want to clean should be in the vanilla install's <code>Data Files</code> directory.</li>
    <li>Place the below script into the root of the vanilla install (right next to the <code>Morrowind.exe</code> file) and run it from that directory.</li>
  </ol>

  <p>
    My <a href="/mods/vtasteks-light-fixessh/">vtasteks-light-fixes.sh</a> helper script could be useful for handling steps 1 and 2 above, check it out.
  </p>

  <p class="bold">NOTE:  If you aren't comfortable with scripts, please don't just copy and paste this.  It's meant to be a reference for those who know what they are doing.</p>

  <p class="bold">HEY: Windows scripters!!  I need your help in providing an equivalent example for your OS.</p>
  <pre><code>#!/usr/bin/env bash

set -e

#
# Below is an example list of plugins.
# Replace it with a list of ones you are using that need cleaning.
#
declare -a plugins_to_clean=({% for plugin in plugin_names %}
    "{{ plugin }}"{% endfor %}
)

_oldIFS=$IFS

IFS=$(echo -en "\n\b")

for thing in "${plugins_to_clean[@]}"; do
    _path=$(find . -name "${thing}")
    echo NOW RUNNING: tes3cmd clean "${_path}"
    tes3cmd clean "${_path}"
done

IFS=$_oldIFS</code></pre>

  <p>Plugins that have been cleaned will be output as <code>Clean_PluginName.esp</code> (e.g. <code>Clean_Windows Glow.esp</code>), and the original left in place untouched.</p>

</details>

{% endblock %}
