<p class="bold center">
  {% if cur_page == 'tips-performance' %}<button disabled="true">Performance</button>{% else %}<a class="button button-primary" href="{% url 'tips-performance' %}">Performance</a>{% endif %}
  {% if cur_page == 'tips-portable-install' %}<button disabled="true">Portable Install</button>{% else %}<a class="button button-primary" href="{% url 'tips-portable-install' %}">Portable Install</a>{% endif %}
  {% if cur_page == 'tips-navmeshtool' %}<button disabled="true">Navmeshtool</button>{% else %}<a class="button button-primary" href="{% url 'tips-navmeshtool' %}">Navmeshtool</a>{% endif %}
  {% if cur_page == 'tips-merging-objects' %}<button disabled="true">Merging Objects</button>{% else %}<a class="button button-primary" href="{% url 'tips-merging-objects' %}">Merging Objects</a>{% endif %}
  {% if cur_page == 'tips-cleaning' %}<button disabled="true">Cleaning Plugins</button>{% else %}<a class="button button-primary" href="{% url 'tips-cleaning' %}">Cleaning Plugins</a>{% endif %}
  {% if cur_page == 'tips-ini-importer' %}<button disabled="true">INI Importer</button>{% else %}<a class="button button-primary" href="{% url 'tips-ini-importer' %}">INI Importer</a>{% endif %}
  {#% if cur_page == 'tips-customizing-modlists' %}<button disabled="true">Customizing Mod Lists</button>{% else %}<a class="button button-primary" href="{% url 'tips-customizing-modlists' %}">Customizing Mod Lists</a>{% endif %#}
  {% if cur_page == 'tips-custom-shaders' %}<button disabled="true">Custom Shaders</button>{% else %}<a class="button button-primary" href="{% url 'tips-custom-shaders' %}">Custom Shaders</a>{% endif %}
  {% if cur_page == 'tips-creating-custom-groundcover' %}<button disabled="true">Custom Groundcover</button>{% else %}<a class="button button-primary" href="{% url 'tips-creating-custom-groundcover' %}">Custom Groundcover</a>{% endif %}
  {% if cur_page == 'tips-register-bsas' %}<button disabled="true">Register BSAs</button>{% else %}<a class="button button-primary" href="{% url 'tips-register-bsas' %}">Register BSAs</a>{% endif %}
  {% if cur_page == 'tips-file-renames' %}<button disabled="true">File Renames</button>{% else %}<a class="button button-primary" href="{% url 'tips-file-renames' %}">File Renames</a>{% endif %}
  {#% if cur_page == 'tips-shiny-meshes' %}<button disabled="true">Shiny Meshes</button>{% else %}<a class="button button-primary" href="{% url 'tips-shiny-meshes' %}">Shiny Meshes</a>{% endif %#}
  {% if cur_page == 'tips-atlased-meshes' %}<button disabled="true">Atlased Meshes</button>{% else %}<a class="button button-primary" href="{% url 'tips-atlased-meshes' %}">Atlased Meshes</a>{% endif %}
  {#% if cur_page == 'tips-tr-patcher' %}<button disabled="true">TR Patcher</button>{% else %}<a class="button button-primary" href="{% url 'tips-tr-patcher' %}">TR Patcher</a>{% endif %#}
  {#% if cur_page == 'tips-bbc-patching' %}<button disabled="true">BBC Patching</button>{% else %}<a class="button button-primary" href="{% url 'tips-bbc-patching' %}">BBC Patching</a>{% endif %#}
  {#% if cur_page == 'tips-openmw-physics-fps' %}<button disabled="true">OPENMW_PHYSICS_FPS</button>{% else %}<a class="button button-primary" href="{% url 'tips-openmw-physics-fps' %}">OPENMW_PHYSICS_FPS</a>{% endif %#}
</p>
