{% extends 'base.html' %}
{% block title %}Tips: OPENMW_PHYSICS_FPS{% endblock %}
{% block content %}

  <h3 class="center">Tips: <span class="bold"><code>OPENMW_PHYSICS_FPS</code></span></h3>

  {% include "tips-nav.html" with cur_page="tips-openmw-physics-fps" %}

  <h4 class="bold">The content below is now out of date!</h4>

  <p>
    Since the addition of async physics in OpenMW 0.47, the issues described below are much less of a burden on the engine's performance.
  </p>

  <p>
    It may still be desireable to set <code>OPENMW_PHYSICS_FPS</code> for other reasons, such as mod compatibility, but for actual performance tweaks to physics one should look to the <a href="/tips/performance/#async-physics">async physics</a> options.
  </p>

  <p>
    The original content continues below.
  </p>

  <p><a href="https://forum.openmw.org/viewtopic.php?t=4974#p52940">Quoting David C.</a>  of the TES3MP project:</p>

  <blockquote>
    "The physics thread is one of the main bottlenecks in OpenMW, and setting OPENMW_PHYSICS_FPS to 40 or 30 provides a quick and somewhat effective solution to it, with side effects that are not very visible or important to most people who have changed it and reported back."
  </blockquote>

  <p>Indeed, after noticing that physics were a bottleneck in my own setup (using F3) and finding the above post, I tried it myself.  The results were absolutely noticeable when I set it to 30.  Not a wonder fix by any means, but in some areas where FPS suffered the most (Balmora, Vivec) I saw FPS gains via F3.</p>

  <p>Unless you are getting 60+ FPS everywhere, all the time, I highly recommend that you at least give this a shot.</p>

  <p>How to set environment variables is beyond the scope of this article, so as <a href="https://forum.openmw.org/viewtopic.php?t=4974#p52885">akortunov advises</a>: 'Just google "setting environment variables in [insert your OS name here]"' and you should come up with some relevant info.</p>

  <p>Did you use this setting and notice a difference?  No difference?  Please <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues">let us know</a>!</p>

{% endblock %}
