{% extends 'base.html' %}
{% block title %}Tips: INI Importer{% endblock %}
{% block content %}

  <h3 class="center">Tips: <span class="bold">INI Importer</span></h3>

  {% include "tips-nav.html" with cur_page="tips-ini-importer" %}

  <p>The OpenMW Launcher has a handy "Settings Importer" that will take the values in a <code>Morrowind.ini</code> file and convert them to a usable <code>openmw.cfg</code>. To use this:</p>

  <ol>
    <li>Run the OpenMW Launcher</li>
    <li>Click the "Settings" icon at the top</li>
    <li>Browse to the <code>Morrowind.ini</code> file you want to import from</li>
    <li>Click "Run Settings Importer"</li>
  </ol>

  <p>That's it - your <code>openmw.cfg</code> will be written with values imported from the vanilla configs you specified.</p>

  <p>While this site will try to advise the reader of any specific values that are needed for any given mod, this can be a handy tool for experimentation.</p>
{% endblock %}
