{% extends 'base.html' %}
{% block title %}Tips: Shiny Meshes{% endblock %}
{% block content %}

  <h3 class="center">Tips: <span class="bold">Shiny Meshes</span></h3>

  {% include "tips-nav.html" with cur_page="tips-shiny-meshes" %}

  <h4>How To Fix "Shiny Meshes"</h4>

  <p>
    Make sure you are using OpenMW 0.46.0 or newer, then set <a href="https://github.com/OpenMW/openmw/blob/openmw-0.46.0/files/settings-default.cfg#L349-L351"><code>apply lighting to environment maps = true</code></a> in the <code>[Shaders]</code> section of your <code>settings.cfg</code> file.  That's it!  Now, meshes that were previously very "shiny"-looking will be closer to how they are intended.
  </p>

  <h4>Pre-OpenMW 0.46.0</h4>

  <p>Below are the steps to "fix" shiny meshes that were required before OpenMW 0.46.0.  It is left here for historical reasons, but chances are you don't need to worry about doing this anymore (provided you're using a modern version of OpenMW).</p>

  <p>Often, if not always, when a bump or normal-mapped texture is made for vanilla Morrowind it shows up shiny in-game with OpenMW.  The reasons for this, and how to fix it, are covered in great detail <a href="https://openmw.readthedocs.io/en/latest/reference/modding/texture-modding/convert-bump-mapped-mods.html">in the official OpenMW documentation</a>.</p>

  <p>Windows users can do a "Find In Files" search for "TextureEffect" in their mod folder, and Windows Explorer should search all your mesh files for any such reference.  A very handy way to easily find them.</p>

  <p>Linux or macOS users can do <code>grep --binary-files=text TextureEffect Mod_Folder</code> (where <code>Mod_Folder</code> is the path to your actual mod folder) from a terminal to get the same effect.</p>

  <p>In many cases, you can simply not use the included meshes and everything will look as expected.  But mods that alter not only the textures but also meshes cannot be used this way, and mesh edits are required.</p>

  <p>Soon, I'd like to distribute patched meshes on this site, but until that day you are encouraged to try the methods described in the documentation when you find a mod that's shiny.</p>
{% endblock %}
