{% extends 'base.html' %}
{% block title %}Tips: Better Balanced Combat Auto Patcher{% endblock %}
{% block content %}

  <h3 class="center">Tips: <span class="bold">Better Balanced Combat Auto Patcher</span></h3>

  {% include "tips-nav.html" with cur_page="tips-bbc-patching" %}

  <p>The popular <a href="/mods/better-balanced-combat/">Better Balanced Combat</a> mod has some compatibility issues with certain mods.  The mod author offers an "Auto Patcher" tool, found in the mod's 7z archive that can do the work of enabling compatibility with trouble mods.</p>

  <p>Using the patcher is relatively simple, but there are some prerequisites:</p>

  <ol>
    <li>A functional installation of vanilla Morrowind.</li>
    <li>Each plugin that needs to be patched inside the "Data Files" directory of this vanilla installation.</li>
    <li>Install the Auto Patcher files into the <code>Data Files</code> folder of this vanilla installation.  There are executables for Linux and Windows, choose the right one for your OS.  macOS users could try <a href="https://git.sr.ht/~hristoast/BBCAutoPatcher">my shell script</a>.</li>
  </ol>

  <p>With all that in order, running the patcher is relatively straightforward for any OS:</p>

  <ol>
    <li>Open up a terminal or command prompt.</li>
    <li><code>cd</code> into the vanilla Morrowind install described above.</li>
    <li><span>Linux users only</span>: Ensure the patcher is executables (e.g. <code>chmod +x BBCAutoPatcher</code>).</li>
    <li>Run the patcher (e.g. <code>./BBCAutoPatcher</code> for Linux, <code>BBCAutoPatcher.exe</code> for Windows).</li>
    <li>Carefully read the patcher output to proceed.</li>
  </ol>

  <p>If all goes well, you will have a plugin called <code>BBC_Auto_Patch.esp</code> that can be put at the end of your load order.  Put this into a data directory, add that to your <code>openmw.cfg</code>, and enable the plugin to use it.  <a href="https://www.nexusmods.com/morrowind/articles/121/">This guide</a> by the mod author explains some of the changes being made in detail.</p>

  <p>Linux users please also see <a href="https://www.nexusmods.com/morrowind/articles/158/">this guide</a> by the Better Balanced Combat author.</p>
{% endblock %}
